.checkout-progress-indicator {
    font-size: 1em;
    overflow: hidden;
    padding-bottom: 1em;
    li {
        display: inline;
        list-style: none;
        padding: 0 .83em 0 0;

        &::after {
            display: none;
        }
    }
    span {
        text-transform: uppercase;
    }
    .active span {
        font-weight: $font-wt-bold;
        color: $progress-indicator-active-color;
    }
    i {
        padding-left: .83em;
        color: $very-light-gray;
    }
    .step-3 {
        padding-right: 0;
    }
    @include respond(medium-down) {
        clear: both;
        font-size: .8em;
        margin-bottom: 3%;
        position: relative;
        overflow: hidden;
        text-align: left;
        top: auto;
        div {
            padding: 0 2%;
        }
    }
}

.shipping-method {
    margin-top: 1.83em;
    label {
        display: inline;
        float: none !important;
        padding-right: .42em !important;
    }
    .shipping-description {
        display: inline;
    }
}

.gift-message-text {
    &.hidden {
        display: none;
    }
}

.billing-coupon-code {
    .form-row {
        width: 50%;
    }
}

.redemption {
    color: $error-color;
    span.error {
        margin-left: 0;
    }
    .success {
        color: $success-color;
    }
}

.payment-method-options {
    .form-row {
        clear: none;
        float: left;
        width: 30%;
    }
    @include respond(medium-down) {
        padding: 0;
        .form-row {
            width: 100%;
            label {
                float: left;
                margin: 0;
                padding: 0 0 0 1em;
                width: rem(150px);
            }
            .input-radio {
                margin: 0;
            }
        }
    }
}

.payment-method {
    clear: both;
    display: none;
}

.payment-method-expanded {
    display: block;
    .ssn {
        clear: both;
    }
}

.month,
.year,
.day {
    clear: none;
    float: left;
    margin: 0 0 2% 2%;
    label {
        @extend .visually-hidden;
    }
    .field-wrapper {
        width: auto;
        min-width: rem(90px);
    }
    div:not(.select-style) > select {
        width: auto;
    }
}

.month .form-caption {
    margin-left: 0;
}

.cvn {
    clear: left;
    .field-wrapper {
        width: rem(75px);
    }
}

.ssn {
    clear: left;
}

.bml-terms-and-conditions {
    border: $border3;
    font-size: 0.8em;
    height: rem(400px);
    overflow: auto;
    padding: 1em;
}

.bml-table-col-1 {
    width: 25%;
}

.pt_checkout {
    h3 {
        padding-bottom: 1em;
    }
}

.checkout-order-totals {
    background-color: $box-bg;
    padding: rem(5px) rem(8px);
}

.place-order-totals {
    clear: both;
    .order-totals-table {
        float: right;
        width: 50%;
        @include respond(medium-down) {
            width: 100%;
        }
    }
}

.order-component-block {
    margin: 1.67em 0;
    .section-header a {
        float: right;
        font-weight: $font-wt-regular;
    }
    .details {
        background: none repeat scroll 0 0 $subtle-contrast-bg;
        color: $body-text-color-lt;
        padding: 0.5em 1em;
    }
}

.order-summary-footer {
    position: relative;
    h2 {
        font-size: 2em;
        @include font-italic();
        font-weight: $font-wt-regular;
        @include respond(medium-down) {
            width: 50%;
        }
    }
}

.summary-help {
    float: right;
    font-size: 0.8em;
    margin: 1em 0;
}

.submit-order {
    clear: both;
    display: block;
    padding: 1.67em 0 0;
    text-align: right;
    .back-to-cart {
        font-size: 1.1em;
        &:hover {
            text-decoration: underline;
        }
    }
    button {
        margin-left: 1.5em;
    }
}

.js .order-history-table .hidden {
    display: none;
}

// Details Styling

.orderdetails {
    margin: 0 1%;
    h2 {
        clear: both;
    }
    .label {
        font-weight: $font-wt-bold;
        margin-bottom: .3rem;
        margin-top: .3rem;
        text-transform: uppercase;
    }
    .order-shipment-table {
        background-color: $box-bg;
        border: $border;
        border-radius: 5px;
        padding: 1em;
    }
    .order-shipment-details {
        .order-shipment-address {
            float: right;
        }
    }
    .line-items {
        clear: both;
        padding-top: 1rem;
        .line-item {
            padding-bottom: 1rem;
            .line-item-details,
            .line-item-quantity,
            .line-item-price {
                display: inline-block;
                vertical-align: top;
            }
            .line-item-quantity,
            .line-item-price {
                width: 14%;
            }
            .line-item-details {
                width: 70%;
                a {
                    @include font-size(18px);
                }
            }
            .line-item-quantity {
                text-align: center;
            }
            .line-item-price {
                text-align: right;
            }
        }
    }
    .order-payment-summary {
        @include respond(medium-up) {
            float: right;
        }
    }
    .order-information {
        padding-bottom: .5em;
        padding-top: .5em;
        .label {
            color: $body-text-color-lt;
            font-weight: $font-wt-light;
            text-transform: none;
        }
        .value {
            font-weight: $font-wt-bold;
        }
        .order-number {
            @include font-size(28px);
        }
    }
    .payment-amount {
        .label {
            font-weight: $font-wt-regular;
            text-transform: none;
        }
    }
    .order-totals-table td {
        &:first-child {
            padding-right: 5rem;
            text-align: left;
        }
    }
}
.pt_order,
.confirmation {
    .actions {
        padding: .5em 1%;
        a {
            margin-right: 2rem;
        }
    }
}
.confirmation-message {
    border-bottom: $border4;
    border-bottom-width: 3px;
    padding: 1rem 1%;
}
.confirmation {
    &.create-account {
        .login-create-account,
        .order-confirmation-details {
            display: inline-block;
            vertical-align: top;
        }
        .login-create-account {
            float: right;
            padding: 0 1%;
            @include respond(large-up) {
                width: 25%;
            }
        }
        .order-confirmation-details {
            width: 100%;
            @include respond(large-up) {
                width: 73%;
            }
        }
        .login-box-content {
            background-color: $box-bg;
            border: $border;
            border-radius: 5px;
            padding: 1em;
            p {
                margin-top: 0;
                margin-bottom: 0;
            }
            .form-row {
                margin: 0;
            }
        }
    }
}
.order-discount {
    color: $accent1-color;
}
.giftcert-apply .tooltip {
    margin-left: 0.5em;
}
.gift-cert-used {
    padding: .83em 0;
}

.order-detail-options {
    border-top: $border;
    margin: 1.67em 0 0;
    padding: 1.67em 0 0;
    text-align: right;
    a {
        margin: 0 .83em;
    }
}

.summary .edit {
    position: absolute;
    text-transform: uppercase;
    right: rem(10px);
    font-size: 0.9em;
    line-height: 1.5em;
}

.pt_cart .breadcrumb {
    padding-left: 0;
}

.order-shipment-details {
    .label,
    .firstname,
    .lastname {
        font-weight: $font-wt-bold;
    }
}

.item-shipping-address {
    min-width: rem(120px);
}

.order-shipment-gift-message-header {
    font-weight: $font-wt-bold;
    font-size: 1.2em;
    padding-bottom: 0;
}

.order-shipment-gift-message {
    font-size: 1.1em;
}

.billing-error {
    color: red;
    margin: 0 0 .83em 24%;
}

.cvn-tooltip {
    font-weight: $font-wt-bold;
    margin: rem(5px);
    text-align: center;
    img {
        height: rem(150px);
        width: rem(110px);
    }
}

#preferred-store-panel input[type="text"] {
    @include respond(small-down) {
        width: 49.5966%;
    }

    @include respond(medium) {
        width: 49.5966%;
    }
}

//stack columns below 768
@include respond(medium-down) {
    table.item-list {
        .section-header {
            background-image: none;
        }
        .item-image,
        .item-details,
        .item-availability,
        .item-dashboard {
            display: inline-block;
        }
        .item-image {
            width: 30%;
        }
        .item-details {
            width: 50%;
        }
        .item-availability,
        .item-dashboard {
            width: 97%;
        }
        .delete-registry {
            text-align: center;
        }
    }
    .list-table-header {
        padding: 1em !important;
        .button {
            display: block;
            margin: rem(20px) 0;
            width: rem(196px);
        }
        p {
            display: none;
        }
        button {
            display: block;
            width: rem(260px);
        }
    }
}
