@include respond(medium-down) {
    .pt_cart #secondary {
        display: none;
    }
}

#cart-table {
    @extend .product-table; // primary_region_elements.scss
    thead {
        display: none;
        @include respond(large-up) {
            display: table-header-group;
        }
    }
    .header-total-price {
        text-align: right;
    }
    .item-delivery-options {
        .form-row {
            margin: rem(8px) 0;
        }
        .instore-delivery {
            .selected-store-address,
            .selected-store-availability,
            .form-row {
                margin-left: rem(24px);
                @include respond(large-up) {
                    margin-left: 0;
                }
            }
        }
        @include respond(large-up) {
            width: rem(140px);
        }
    }
    .item-quantity input {
        width: rem(42px);
        padding-right: 0;
    }
    .item-quantity-details .item-user-actions {
        a,
        button {
            display: block;
            margin: rem(5px) 0;
        }
    }
    .price-promotion {
        word-spacing: 1em;
        .price-sales {
            color: $price-sale-color;
        }
        .price-standard {
            text-decoration: line-through;
        }
        @include respond(large) {
            span {
                display: block;
            }
        }
    }
    .item-total {
        @include font-bold(16px);
        word-wrap: break-word;
        @include respond(large-up) {
            font-size: 1em;
            text-align: right;
        }
    }
    .price-unadjusted {
        color: $body-text-color;
        display: block;
        margin: 0 0 .42em;
        span {
            text-decoration: line-through;
        }
    }
    .price-adjusted-total {
        color: $body-text-color;
        display: block;
        margin: .42em 0 0;
        span {
            color: $price-sale-color;
        }
    }
    .gift-cert-delivery {
        color: $price-sale-color;
    }
}

.cart-promo {
    background: url("../images/interface/ui-promo-bg-gray-diag.png") repeat scroll 0 0 $trans;
    color: $body-text-color-drk;
    @include font-italic();
    margin: 0.3em 0;
    padding: 1em;
    .bonus-item-actions {
        font-size: 1em !important;
        text-align: right;
        vertical-align: middle;
    }
}

.cart-footer {
    @include clearfix();
    margin: .83em 0;
}

.cart-coupon-code {
    @include respond(large-up) {
        float: left;
        width: 60%;
    }

    input {
        margin-bottom: rem(8px);
        width: 35%;
        @include respond(large-up) {
            width: 45%;
        }
    }
    .error {
        padding-top: 0.4em;
    }
    button {
        margin-left: .27em;
        padding: rem(8.5px) rem(20px);
        &.simple {
            @extend .secondary;
            padding: rem(8.5px) rem(20px);
        }
    }
    // to allow both the Apply and Update Cart buttons to fit on one line at 320
    @include respond(small-down) {
        input {
            float: left;
            width: 44%;
        }
        button {
            float: left;
            margin: 0 0 0 1%;
            padding: rem(8.5px) 0;
            width: 22%;
            // Update Cart button
            &.simple {
                width: 32%;
                padding: rem(8.5px) 0;
            }
        }
    }
}
.cart-order-totals {
    margin: rem(16px) 0;
    @include respond(large-up) {
        float: right;
        margin-top: 0;
        width: 40%;
    }
}

.order-totals-table {
    td {
        padding: rem(5px);
        text-align: right;
        &:first-of-type {
            text-align: left;
        }
    }
    .order-totals-item {
        width: 60%;
    }
    .order-totals-value {
        width: 40%;
    }
    .order-subtotal {
        @include font-bold;
    }
    .order-total {
        @include font-bold(16px);
    }
}

.order-value {
    white-space: nowrap;
}

.cart-actions {
    @include clearfix();
    @include respond(large-up) {
        float: right;
        width: 40%;
        &.cart-actions-top {
            float: none;
            width: auto;
        }
    }
}

.cart-action-checkout {
    button {
        width: 100%; //checkout buttons
    }
    @include respond(large-up) {
        .cart-actions-top & {
            float: right;
            button {
                width: auto;
            }
        }
    }
}

.cart-action-continue-shopping {
    float: right;
    button.button-text {
        line-height: 3.25em;
        margin-right: 1em;
    }
}

.cart-recommendations {
    clear: both;
    margin-top: rem(16px);
    .product-listing {
        @include clearfix();
        margin: rem(16px) 0;
        background-color: $base-bg;
        h2 {
            padding: rem(16px) rem(8px) rem(2px);
            background-color: $section-header-bg;
        }
        .search-result-items {
            margin-top: 1em;
        }
    }
}

.cart-actions-top {
    margin-top: rem(8px);
    padding-bottom: 1em;
    .cart-action-continue-shopping {
        float: none;
    }
}

.cart-empty {
    @include clearfix();
    margin-top: rem(64px);
    h1 {
        text-align: center;
    }
    .cart-action-continue-shopping {
        float: none;
        text-align: center;
        margin-bottom: rem(64px);
    }
    .product-listing {
        @include clearfix();
        background-color: $box-bg;
        padding: rem(16px) 0;
        h2 {
            margin-left: rem(21px);
        }
        .search-result-items {
            margin-top: 1em;
        }
    }
}

.promo-adjustment {
    color: $price-sale-color;
}

ul.product-availability-list {
    margin: 0;
    padding: 0;
    width: 5em;
    //for IE
    width: max-content;
    li {
        list-style: none outside none;
    }
    .on-order,
    .not-available {
        color: $out-of-stock-color;
        font-size: 0.9em;
    }
}

.account-welcome {
    .welcome-message {
        font-size: 1.2em;
        @include font-italic();
    }
    .not-user {
        margin: .83em 0;
    }
}

#password-reset {
    white-space: nowrap;
}
