// Local Site Variables and Font Families (site-specific)
@import "global/fonts";
@import "global/variables";

// Globally shared components and styles (organization-level)
//-----------------------------------------------------------
// global framework and elements
@import "../../../../org_organizationid/cartridge/scss/default/global/functions";
@import "../../../../org_organizationid/cartridge/scss/default/global/mixins";
@import "../../../../org_organizationid/cartridge/scss/default/global/z_index";
@import "../../../../org_organizationid/cartridge/scss/default/global/extensible_styles";
@import "../../../../org_organizationid/cartridge/scss/default/global/typography";
@import "../../../../org_organizationid/cartridge/scss/default/global/iconography";
@import "../../../../org_organizationid/cartridge/scss/default/global/lib/normalize";
@import "../../../../org_organizationid/cartridge/scss/default/global/lib/slick";
@import "../../../../org_organizationid/cartridge/scss/default/global/lib/slick_theme";
@import "../../../../org_organizationid/cartridge/scss/default/global/base_elements";
@import "../../../../org_organizationid/cartridge/scss/default/global/form_components";
@import "../../../../org_organizationid/cartridge/scss/default/global/base_tooltip";
@import "../../../../org_organizationid/cartridge/scss/default/global/page_layouts";
@import "../../../../org_organizationid/cartridge/scss/default/global/header/header";
@import "../../../../org_organizationid/cartridge/scss/default/global/breadcrumbs";
@import "../../../../org_organizationid/cartridge/scss/default/global/primary_region_elements";
@import "../../../../org_organizationid/cartridge/scss/default/global/secondary_region_elements";
@import "../../../../org_organizationid/cartridge/scss/default/global/footer";
@import "../../../../org_organizationid/cartridge/scss/default/global/jqueryui";
@import "../../../../org_organizationid/cartridge/scss/default/global/slots_assets_org";
@import "../../../../org_organizationid/cartridge/scss/default/global/js";
@import "../../../../org_organizationid/cartridge/scss/default/global/print";
@import "../../../../org_organizationid/cartridge/scss/default/global/responsivegrids/responsive_grids";

//
// Styleguide Styles
//
body {
    background: $base-bg;
}

// Basic Styles
.section-header {
    padding-top: 10px;
    border-top: $border;
    margin: 35px auto 25px;
}

.style-section {
    margin-bottom: 50px;
    padding: 0 30px;
}

.style-spec {
    @include type-paragraph3;
    @include font-bold;
}

.desktop-only {
    @include respond(large-down) {
        display: none;
    }
}

.desktop-tablet {
    @include respond(small) {
        display: none;
    }
}

.tablet-only {
    @include respond(desktop) {
        display: none;
    }

    @include respond(small) {
        display: none;
    }
}

.tablet-mobile {
    @include respond(desktop) {
        display: none;
    }
}

.mobile-only {
    @include respond(large-up) {
        display: none;
    }
}

// Colors
.color-grid {
    @include clearfix();
    @include column-respond((0: 1, 480px: 2, 550px: 3, 620px: 4, 768px: 6, gutter: 20px));

    // Set the list of color blocks in order of how they should appear in the style guide.
    $colorlist: (
        $citrus,
        $nero,
        $dark-gray,
        $white-smoke,
        $gainsboro,
        $white,
        $limeade,
        $sangria,
        $black
    );

    @for $i from 1 through length($colorlist) {
        $c: nth($colorlist, $i);
        .color:nth-child(#{$i}) .color-block {
            background-color: $c;
            &::before {
                content: "#{$c}";
                @if lightness($c) > 85 {
                    color: #555;
                }
            }
            @if lightness($c) > lightness($border-color) {
                outline: $border;
                outline-offset: -1px;
            }
        }
    }
}

.color {
    .color-block {
        width: 100%;
        height: 145px;
        margin-bottom: 5px;
        position: relative;
        &::before {
            position: absolute;
            top: 42%;
            width: 100%;
            text-align: center;
            color: $white;
            font-family: Arial;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 20px;
        }
    }
    .color-name {
        text-align: center;
        margin-bottom: 10px;
    }
    .color-use {
        text-align: center;
        margin-bottom: 10px;
        @include type-paragraph3;
    }
}

// Typographies
.fonts,
.links {
    h1 {
        @include respond(mobile) {
            font-size: 5.9vw;
        }
    }
}

.fonts {
    h1 {
        &:nth-child(1) {
            @include font-reg;
        }
        &:nth-child(2) {
            @include font-semibold;
        }
        &:nth-child(3) {
            @include font-bold;
        }
    }
}

//Paragraphs
.paragraph-grid {
    @include clearfix();
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    @include column-respond((600px: 2, 768px: 3, gutter: 10px));
}

//Lists
.list-grid {
    @include clearfix();
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    @include column-respond((600px: 2, 768px: 3, gutter: 10px));
}

// Buttons
.button-grid {
    @include clearfix();
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    @include column-respond((768px: 2, 1080px: 3, gutter: 10px));
}

.button-style {
    width: 90%;
    button:not(.button-text),
    .button {
        margin-bottom: 1em;
        //control visibility of default vs hover styles
        &:hover + br + a + br + button + br + .button-description,
        &:hover + br + button + br + .button-description {
            .default-spec {
                display: none;
            }
            .hover-spec {
                display: block;
            }
        }
    }
    .hover-spec {
        display: none;
    }
}

// Forms
.forms {
    @include clearfix();
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    @include column-respond((768px: 2, 1080px: 3, gutter: 15px));
}

.has-tooltip .field-wrapper {
    width: 72%;
    float: left;
}

// Iconography
.icons {
    .logos {
        @include clearfix();
        margin: 0 auto 30px;
        background-color: $box-bg;
        //to give white logos visibility
        .logo-col {
            padding: 20px 40px 10px;
            &:nth-child(2) {
                img {
                    width: 93px;
                }
            }
            @include respond(medium-up) {
                float: left;
            }
        }
    }

    .svg-icons {
        @include column-respond((0: 1, 480px: 2, 550px: 3, 620px: 4, 768px: 6, gutter: 10px));
        .icon-col {
            height: 4em;
            margin-bottom: 30px;
            text-align: center;
        }
    }
}

// Heros
.hero-banner {
    .hero {
        height: 10em;
        padding: 2em 0;
        text-indent: 4em;
        background-color: $box-drk-bg;
        h2 {
            color: $white;
        }
    }
}

.hero-typography {
    .hero {
        margin-top: 40px;
    }
}

.grid-list li {
    margin: 0;
}

//////////////////////////
// Fluid Grid Page Styles
/////////////////////////

.readme {
    color: $alert-color;
}

.expand-toggle {
    .toggle {
        cursor: pointer;
        &::after {
            content: "\2795";
            display: inline;
            margin-left: 1em;
            opacity: 0.5;
        }
    }
    &.expanded {
        .toggle::after {
            content: "\2796";
        }
    }
}

.code-snippet {
    position: relative;
    padding: 10px;
    background-color: $box-bg;
    border-radius: 5px;
    margin-bottom: 1em;
    tab-size: 4;
    &.expandable {
        max-height: 3.25em;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            height: 1em;
            @include gradient(rgba($box-bg, 0), $box-bg, vertical);
            border-bottom: solid $box-bg 3px;
        }
        .expanded & {
            max-height: none;
            &::after {
                display: none;
            }
        }
    }
}

.quick-reference {
    @include column-respond((768px: 2, gutter: 20px));
}

.example-grid-1 {
    // no mixin applied
}

.example-grid-2 {
    @include column-respond((600px: 2, 768px: 3, gutter: 5%));
}

.example-grid-3 {
    @include column-respond((0: 2, 480px: 3, 600px: 4, 768px: 6, 1200px: 8, gutter: 10px));
    .grid-col {
        background-color: $box-bg;
        border: $border3;
    }
}

.example-grid-4 {
    background-color: $box-bg;
    padding: 3px;
    box-sizing: border-box;
    @include column-respond((0: 2, 480px: 3, 600px: (columns: 4, gutter: 5%), 768px: (columns: 6, gutter: 1px), 900px: 7, 1200px: (columns: 8, gutter: 2em), gutter: 10px));
    .grid-col {
        background-color: $white;
        margin-bottom: 3px;
    }
}

.example-grid-5 {
    @include column-respond((0: 2, 480px: 3, 600px: 4, 768px: 6, gutter: 10px, col-divider: (width: 2px, height: 100%, background-color: $sangria), row-divider: (height: 1px, top: -3px, background-color: $box-bg)));
    .grid-col {
        padding-bottom: 6px;
    }
}

.example-grid-6 {
    @include column-respond((0: 2, 480px: 3, 600px: 4, 768px: 6, 1180px: 8, gutter: 10px, col-divider: (width: 1px, height: 100%, background-color: $box-bg), row-divider: (height: 1px, top: -1em, background-color: $box-bg), center-last-row: true));
    .grid-col {
        margin-bottom: 2em;
    }
}

.example-grid-7 {
    @include column-respond((600px: (columns: 3, gutter: 2px), 768px: (columns: 4, gutter: 1em)));
    // HACK to create a colspan effect. Not really recommended, but somewhat working.
    .grid-col:nth-child(2) {
        p {
            width: 200%;
            max-width: none;
        }
    }
    .grid-col:nth-child(3) {
        //somehow this is needed to give the blank column dimension
        padding: 1px;
    }
}
