.bonus-product-list {
    .bonus-product-item {
        @include clearfix();
        border-bottom: $border;
        .product-col-1,
        .product-col-2 {
            @include respond(medium-down) {
                float: left;
                clear: none;
            }
        }
    }
    .product-add-to-cart {
        padding-bottom: 0;
        .inventory {
            width: auto;
        }
    }
    .product-name {
        float: none;
        margin: 1em 0;
    }
    .quantity-error {
        color: red;
        text-transform: inherit;
    }
    .bonus-product-list-footer {
        @include clearfix();
        padding-top: 1em;
        padding-bottom: 1em;
        .add-to-cart-bonus {
            float: right;
        }
    }
    .selected-bonus-item {
        margin: 1em 0 1em 1em;
        position: relative;
        .item-name {
            font-weight: $font-wt-bold;
        }
        .remove-link {
            cursor: pointer;
            color: $alert-color;
            left: -1em;
            position: absolute;
            &:hover {
                color: $body-text-color-drk;
            }
        }
    }
}

.bonus-discount-container {
    .promo-details {
        display: none;
        &.visible {
            display: block;
        }
    }
}
