.ui-dialog #listings-nav {
    float: right;
    margin-top: 2%;
    a {
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        &.active {
            font-weight: $font-wt-bold;
        }
    }
}

.pdp-main .product-add-to-cart {
    .online-stock span {
        float: left;
    }
    .store-stock {
        display: block;
        clear: left;
    }
}

// Store inventory

.availability-web {
    padding-bottom: 1rem;
    label {
        float: none;
    }
    p {
        margin: 0;
    }
    .availability-novariation {
        color: $body-text-color-lt;
        @include font-italic();
    }
}

.availability-storepickup {
    .availability-instore,
    .availability-web {
        background-color: $subtle-contrast-bg;
        padding: 1rem;
    }
    .availability-web {
        float: none;
    }
    .availability-instore {
        margin-bottom: 1rem;
    }
}

.in-stock-msg,
.is-in-stock,
[data-status="store-in-stock"] {
    color: $in-stock-color;
    font-weight: $font-wt-bold;
}

.not-available-msg,
.in-stock-date-msg,
.not-available,
.out-of-stock,
.store-error {
    color: $out-of-stock-color;
}

.on-order,
.preorder-msg,
.backorder-msg {
    color: $backorder-color;
    font-weight: $font-wt-bold;
}

#user-zip {
    display: block;
    margin: 1rem auto 0;
}

.store-list-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.store-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.store-tile {
    /* for non-flex browsers */
    display: inline-block;
    vertical-align: top;
    /* for flex browsers */
    flex-grow: 1;
    flex-basis: 75%;

    box-sizing: border-box;
    border: $border2;
    border-style: dashed;
    list-style: none outside none;
    margin: 0.3rem 2%;
    padding: 0.8rem;
    text-align: center;
    width: 96%; // 1 tile per row
    @include respond(medium-up) {
        width: 45%; // 2 tiles per row
        flex-basis: 40%;
    }
    @include respond(large-up) {
        margin: 0.3rem 1%;
        width: 31%; // 3 tiles per row
        flex-basis: 30%;
    }
    &.selected {
        background-color: rgba($accent1-color, 0.4);
        .select-store-button {
            @extend button.simple;
        }
    }
    .store-status {
        display: block;
        font-size: 0.9em;
        margin: 1rem 0;
    }
}

.store-list-pdp-container {
    margin-top: 1em;
    .store-list-pdp {
        margin-top: 0.5em;
    }
    .store-list-item {
        @include clearfix();
        display: none;
        padding: 0.5em  0.8em;
        &:last-of-type {
            border: none;
        }
        &.selected {
            display: block;
            font-weight: $font-wt-bold;
        }
        &.visible {
            display: block;
        }
        .store-address {
            float: left;
        }
        .store-status {
            float: right;
        }
    }
}
