.item-details .product-list-item {
    .name {
        font-size: 1.2em;
        @include font-italic();
    }
    .value {
        font-weight: $font-wt-bold;
    }
    .promo {
        color: $price-sale-color;
    }
    .price-standard {
        color: $body-text-color-lt;
        text-decoration: line-through;
    }
}

.item-availability ul,
.item-quantity-details ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.pt_gift-registry fieldset .item-list {
    // this selector targets the gift registry product table (in registry.isml), but not the gift registry event listings table (in registrylist.isml)
    @extend .product-table;
}
.item-dashboard {
    color: $body-text-color-lt;
    width: 16rem;
    label {
        font-weight: $font-wt-regular;
        width: auto;
    }
    .field-wrapper {
        width: auto;
    }
    label + .field-wrapper {
        float: right;
    }
    .option-quantity-desired {
        input {
            width: 3rem;
        }
    }
    .value {
        margin-top: .5rem;
    }
    .form-row {
        margin: 0.5rem 0;
    }
    input,
    .value,
    select
    .option-toggle-public label {
        color: $section-heading-color;
    }
    .input-checkbox {
        margin: 0 5px;
    }
    .option-add-to-cart {
        margin-top: .5rem;
        label {
            color: $section-heading-color;
            float: left;
            font-weight: $font-wt-bold;
            margin: .5rem .5rem 0 0;
            text-transform: uppercase;
            width: auto;
        }
        input {
            width: 3rem;
            margin-right: 1em;
        }
        button {
            display: block;
            float: right;
            margin-top: rem(15px);
            width: 100%;
            @include respond(medium) {
                margin-top: rem(2px);
                width: rem(150px);
            }
            @include respond(desktop) {
                margin-top: rem(2px);
                width: rem(150px);
            }
        }
    }
    .option-quantity-purchased span.exceeded {
        color: $alert-color;
    }
}
