#product-nav-container {
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 160px;
    div {
        float: left;
        text-align: center;
        width: 77px;
    }
    img {
        max-height: 100%;
        max-width: 80%;
    }
    span {
        display: block;
        height: 65px;
    }
    .divided span {
        border-right: $border;
        padding-right: 5px;
    }
    @include respond(medium-down) {
        bottom: 0;
        width: 100%;
        div {
            width: 60px;
            &.product-next {
                float: right;
            }
        }
        .divided span {
            border: 0;
        }
    }
}

.main-image {
    display: block;
}

.primary-image {
    max-width: 100%;
}

.product-thumbnails {
    ul {
        @include clearfix();
    }
    // thumbnail
    .thumb {
        border-bottom: 5px solid $base-bg;
        float: left;
        margin-right: .5rem;
        padding-top: 1px;
        width: 3.4375rem;
        &.selected {
            border-color: $accent1-color;
        }
    }
    // thumbnail image
    img {
        border: $border2;
        box-sizing: border-box;
        cursor: pointer;
        max-width: 100%;
        height: auto;
    }
    h2 {
        margin: 1rem 0 .3rem;
    }
}

.rating {
    color: $rating-color;
    .product-info & {
        font-size: 2em;
    }
}

.product-variations,
.product-options {
    margin-left: .5em;
    .attribute {
        clear: both;
        margin: 1em 0;
        padding: 0;
        position: relative;
        h3,
        .label {
            font-weight: $font-wt-bold;
            margin-bottom: .3rem;
            text-transform: uppercase;
        }
        .value {
            width: 100%;
            @include respond(large-up) {
                width: 75%;
            }
        }
        ul {
            float: right;
            width: 100%;
        }
        .selected-value {
            border: 0 none;
            color: $variation-active-color;
            font-weight: $font-wt-bold;
            padding: 1.3em 0 0 .4em;
            text-transform: uppercase;
            @include respond(large-up) {
                padding-top: .8em;
            }
        }
        .size-chart-link {
            clear: both;
            float: none;
            a {
                border-color: $base-bg !important;
                padding: 0;
            }
        }
    }
    .swatches li {
        float: left;
        &:hover,
        &.selected {
            a {
                color: $swatch-selected-color;
                border-color: $swatch-selected-color;
            }
        }
        &.unselectable {
            a {
                color: $swatch-unselectable-color;
                border-color: $swatch-unselectable-color;
                opacity: 0.8;
            }
            &:hover a {
                color: $swatch-unselectable-hover-color;
                border-color: $swatch-unselectable-hover-color;
                text-decoration: none;
                cursor: default;
            }
        }
        a {
            color: $swatch-text-color;
            border-color: $swatch-border-color;
            border-style: solid;
            border-width: 1px 1px 3px;
            display: block;
            line-height: 3.5;
            min-height: 2.625rem;
            min-width: 2.625rem;
            margin: 0 .5rem .5rem 0;
            padding: 1px;
            text-align: center;
            white-space: nowrap;
            @include respond(large-up) {
                line-height: 2.7;
                min-height: 2rem;
                min-width: 2rem;
            }
        }
    }
    .color li {
        a {
            line-height: 0;
            width: 2.625rem;
            height: 2.625rem;
            @include respond(large-up) {
                width: 2rem;
                height: 2rem;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    select {
        background-color: $base-bg;
        border: $border;
        border-radius: 0;
        height: 42px;
        width: 100%;
        margin-left: 0;
        @include respond(large-up) {
            height: 32px;
        }
    }
}

.product-set .product-add-to-cart {
    display: block;
}

.pdp-main {
    @include clearfix();
    @include font-thin;
    margin: 0 1%;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    label {
        padding: 0;
        text-align: left;
        text-transform: uppercase;
        width: auto;
    }
    .product-col-1 {
        @include respond(medium-up) {
            float: left;
            width: 37%;
        }
    }
    .product-col-2 {
        @include respond(medium-up) {
            float: right;
            width: 59.5%;
        }
        .price-standard {
            border-right: $border;
            padding-right: .5rem;
        }
    }
    .product-primary-image {
        max-width: 100%;
        padding: 1em 0 0;
        text-align: center;
    }
    .product-info {
        clear: both;
        padding-top: 1em;
        // Height for PDP Tabs
        @include respond(large-up) {
            min-height: 25em;
        }

        ul {
            @include font-size(13px);
            list-style: square;
            padding: 0 5em;
            @include respond(large-up) {
                padding-bottom: 1em;
                padding-top: 1em;
            }
        }
    }
    .product-name {
        margin-top: 1rem;
        margin-bottom: .3rem;
        @include respond(large-up) {
            width: 65%;
        }
    }
    .product-number {
        color: $product-number-color;
        @include font-size(10.4px);
        margin-bottom: .5rem;
    }
    .product-price {
        @include font-size(24px)
        margin-bottom: .5em;
        .price-standard {
            color: $body-text-color-lt;
            font-weight: $font-wt-thin;
            text-decoration: line-through;
        }
        .price-tiered {
            color: $price-tiered-color;
            font-size: .6em;
            line-height: 1.5em;
        }
    }
    .product-review {
        @include clearfix();
        margin-bottom: rem(8px);
    }
    .product-main-attributes {
        .attribute {
            padding: .2em 0;
        }
        .label {
            padding: 0;
        }
    }
    .product-add-to-cart {
        border-bottom: $border2;
        border-top: $border2;
        margin: 0;
        padding: 1em .5em;
        overflow: hidden;
        .inventory {
            float: left;
            white-space: nowrap;
            label {
                display: inline;
                float: none;
                text-align: right;
            }
            input {
                font-size: 1.5em;
                height: rem(50px);
                width: rem(50px);
                margin-right: .4em;
                text-align: center;
                @include respond(large-up) {
                    height: rem(37px);
                    width: rem(37px);
                }
            }
        }
        button {
            float: left;
            font-weight: $font-wt-bold;
            height: rem(50px);
            white-space: nowrap;
            width: 60%;
            @include respond(large-up) {
                height: rem(37px);
                width: auto;
            }
        }
    }
    .product-actions {
        @include clearfix();
        padding: 1em .5em;
        .socialsharing {
            float: none;
            margin-right: rem(16px);
            padding-top: 1em;
            @include respond(desktop) {
                float: left;
                padding-top: 0;
            }
        }
        a {
            margin-right: rem(1.5px);
            vertical-align: top;
            &.share-icon {
                color: $body-text-color-lt;
                &:hover {
                    color: $link-hover-color;
                }
                i {
                    @include font-size(48px);
                    @include respond(large-up) {
                        @include font-size(32px);
                    }
                }
            }
            &[data-action="wishlist"],
            &[data-action="gift-registry"] {
                @extend .button;
                @extend .secondary;
            }
        }
    }
    .recommendations {
        clear: left;
        padding: 2em 0;
        margin: auto;
        width: $small-breakpoint;
        @include respond(medium-up) {
            width: $medium-breakpoint;
        }
        @include respond(large-up) {
            width: 100%;
        }
        h2 {
            font-size: 2em;
            @include font-italic();
            font-weight: $font-wt-regular;
            margin-left: 14px;
        }
        #carousel-recommendations {
            margin: auto;
            position: relative;
        }
        li {
            width: 250px;
            img {
                margin: auto;
            }
        }
        .product-tile {
            padding: 0 2em;
        }
        .product-name {
            font-size: 1em;
            margin: .2em 0;
            width: 100%;
        }
        .product-price {
            font-size: 1em;
        }
        .product-tile:hover .recommendation-tooltip {
            display: block !important;
        }
        .recommendation-tooltip {
            background: none repeat scroll 0 0 $base-bg;
            border: $border2;
            left: 50%;
            position: absolute;
            text-align: left;
            top: 50%;
            width: 300px;
            z-index: z("pdp-rec-tooltip");
        }
    }
    .promotion {
        border-top: $border2;
        margin: 1em 0;
        overflow: hidden;
        padding: 1.5em 1.5em .7em 1.5em;
        .promotion-callout {
            color: $product-promotion-color;
        }
    }
    .product-set-list {
        margin: 0 0 0 6px;
        .product-set-item {
            clear: both;
            margin: 1em 0;
            overflow: hidden;
            padding: 1em 0 0;
        }
        .product-set-image {
            float: left;
            width: 22%;
        }
        .product-set-details {
            float: left;
            width: 78%;
        }
        .attribute {
            h3,
            .label {
                width: 25%;
            }
        }
        .product-name {
            float: none;
            font-size: 1.3em;
            margin: 0;
            width: auto;
        }
        .block-add-to-cart {
            background: none repeat scroll 0 0 $box-bg;
            clear: both;
            overflow: hidden;
            padding: .5em 0;
            .inventory {
                float: left;
                margin-left: 22%;
                width: 20%;
            }
            label {
                padding: .7em 0;
                text-align: left;
                width: 40%;
            }
            .input-text {
                width: 35px;
            }
            .product-price {
                float: left;
                font-size: 1.6em;
                margin: 0;
                padding: 6px 0 0;
                text-align: right;
                width: 35%;
            }
            button {
                float: right;
                font-size: .9em;
                margin: 3px 5px 0 0;
                padding-left: 1em;
                padding-right: 1em;
            }
        }
    }
    @include respond(medium-down) {
        .promotion .promotion-title {
            font-size: 86%;
        }
        .attribute {
            span.value {
                padding-top: 5px;
            }
        }
        .product-add-to-cart {
            .product-price {
                font-size: 2em;
                padding: 30px 10px;
                text-align: left;
                width: 100%;
            }
        }
        .product-set-list {
            .product-set-image img {
                max-width: 90%;
            }
            .block-add-to-cart {
                .inventory {
                    margin: 0;
                    width: 23%;
                }
                .product-price {
                    font-size: 1em;
                    width: 44%;
                }
                button {
                    font-size: .7em;
                }
            }
        }
        .product-review-links {
            margin-left: 6%;
        }
        .prSnippetTitle,
        .prSnippetRatingUnclickable {
            float: left;
        }
    }

    @include respond(large) {
        .product-set-list .block-add-to-cart button {
            font-size: .9em;
            margin-top: 3px;
        }
    }
}

.js .pdp-main .recommendations .product-tile .recommendation-tooltip {
    display: none !important;
}

// Tabs using just CSS, no javascript required unless tab content height exceeds minimum
.tabs {
    position: relative;
    text-align: center;
}

.tab {
    @include respond(large-up) {
        display: inline-block;
        float: none;
    }

    .tab-switch {
        display: none;
        &:checked {
            + .tab-label {
                @include respond(large-up) {
                    background: $base-bg;
                    border-bottom-color: $accent1-color;
                    color: $label-color;
                    font-weight: $font-wt-bold;
                    top: -0.0625rem;
                    transition: all 0.35s;
                    z-index: z("pdp-tab-label");
                }
            }
            + label + .tab-content {
                opacity: 1;
                transition: all 0.35s;
                z-index: z("pdp-tab-content-open");
            }
        }
    }
    .tab-label {
        border-bottom: 3px solid $base-bg;
        color: rgba($label-color, 0.5);
        display: block;
        font-weight: $font-wt-semibold;
        line-height: 2.5em;
        margin-bottom: 0;
        position: relative;
        text-transform: none;
        top: 0;
        transition: all 0.25s;
        &::before {
            content: none; //override custom radio button styling from _form_components.scss
        }
        @include respond(large-up) {
            cursor: pointer;
            padding: 0 1.25rem;
            &:hover {
                border-bottom-color: rgba($label-color, 0.5);
                top: -0.25rem;
                transition: top 0.25s;
            }
        }
    }
    .tab-content {
        padding: 1em 0;
        text-align: left;
        z-index: z("pdp-tab-content");
        @include respond(large-up) {
            left: 0;
            opacity: 0;
            position: absolute;
            top: 2.75em;
            transition: all 0.35s;
            width: 100%;
        }
    }
}

.js button.add-all-to-cart {
    display: inherit;
}

@include respond(medium-down) {
    .pt_product-details {
        .primary-content {
            position: relative;
            padding-bottom: 68px;
        }
        .breadcrumb .last {
            display: none;
        }
    }
}
