.js {
    .ui-dialog-content {
        .product-col-1 {
            padding: 13px 1%;
            width: 39%;
            .product-image {
                max-width: 100%;
            }
        }
        .product-col-2 {
            padding: 20px 0;
            width: 58%;
        }
        .pdp-main {
            .product-set-list {
                border: $border;
                height: 500px;
                overflow: auto;
                .product-set-item {
                    margin: 1em 0;
                }
                .product-set-image {
                    width: 25%;
                }
                .product-set-details {
                    width: 75%;
                }
                .product-name {
                    margin: 0;
                }
                .block-add-to-cart .price {
                    font-size: 1.5em;
                    padding: 0.4em 0 0;
                    width: 130px;
                }
            }
        }
    }
    .zoomPad {
        position: relative;
        float: left;
        z-index: z("quickview-zoompad");
        cursor: crosshair;
        width: 100%;
    }
    .zoomPreload {
        opacity: 0.8;
        color: $body-text-color-drk;
        @include font-thin(12px);
        text-decoration: none;
        border: $border2;
        background-color: $base-bg;
        padding: 8px;
        text-align: center;
        background-image: url("../images/zoomloader.gif");
        background-repeat: no-repeat;
        background-position: 43px 30px;
        z-index: z("quickview-zoompreload");
        width: 90px;
        height: 43px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .zoomPup {
        overflow: hidden;
        background-color: $base-bg;
        opacity: 0.6;
        position: absolute;
        border: $border2;
        z-index: z("quickview-zoompup");
        cursor: crosshair;
    }
    .zoomOverlay {
        position: absolute;
        left: 0;
        top: 0;
        background: $base-bg;
        width: 100%;
        height: 100%;
        display: none;
        z-index: z("quickview-zoomoverlay");
    }
    .zoomWindow {
        position: absolute;
        left: 110%;
        top: 40px;
        background: $base-bg;
        height: auto;
        z-index: z("quickview-zoomwin");
    }
    .zoomWrapper {
        position: relative;
        border: $border3;
        z-index: z("quickview-zoomwrap");
    }
    .zoomWrapperTitle {
        display: block;
        background: lighten($box-drk-bg, 50%);
        color: $base-bg;
        height: 18px;
        line-height: 18px;
        width: 100%;
        overflow: hidden;
        text-align: center;
        @include font-size(10px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: z("quickview-zoomtitle");
        opacity: 0.6;
    }
    .zoomWrapperImage {
        display: block;
        position: relative;
        overflow: hidden;
        z-index: z("quickview-zoomwrapimg");
        img {
            border: 0;
            display: block;
            position: absolute;
            z-index: z("quickview-zoomimg");
        }
    }
    .zoomIframe {
        z-index: z("quickview-zoomiframe");
        opacity: 0.8;
        position: absolute;
        display: block;
    }
}

.quickview-nav {
    .quickview-next {
        float: right;
    }
}

@include respond(medium-down) {
    #quickviewbutton {
        display: none !important;
    }
}
