.pt_categorylanding {
    #main {
        //override content-width for full bleed
        @include override-content-width();
    }
    .primary-content {
        padding-bottom: 0;
    }
    #secondary {
        display: none;
        @include respond(large-up) {
            display: block;
        }
    }
}
.bottom-banner-container {
    overflow: hidden;
    .bottom-banner-cell {
        float: left;
        overflow: hidden;
        text-align: center;
        @include respond(large) {
            img {
                max-width: 100%;
            }
        }
    }
    .banner-cell-1 {
        width: 33%;
    }
    .banner-cell-2 {
        width: 34%;
    }
    .banner-cell-3 {
        width: 33%;
    }
}
