.pt_product-search-result,
.pt_product-search-noresult,
.pt_content-search-result {
    #main {
        //full bleed under 1024px, but keep the max-width constraint
        @include override-content-width-gutters();
    }
}

.no-hits-search-term,
.no-hits-search-term-suggest {
    color: $error-color;
    @include font-italic();
}

.no-hits-search {
    .input-text {
        width: calc(100% - #{rem(90px)});
    }
    button {
        margin-left: rem(10px);
    }
}

.no-hits-footer {
    background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $trans;
    margin: rem(20px) 0;
    padding: rem(20px) 0;
}

.pt_product-search-result .primary-content h1.content-header {
    padding-left: rem(15px);
}

.category-main-banner img {
    max-width: 100%;
}

.search-result-bookmarks {
    margin: rem(15px);
    .first {
        border-right: $border3;
        padding-right: rem(5px);
    }
}

.search-result-options {
    padding: 1em 0.5em;
    margin: rem(17px) 0 rem(21px);
    overflow: hidden;
    @include respond(medium-down) {
        margin: .5em 0;
        .sort-by {
            margin: 0;
            select {
                width: rem(120px);
            }
        }
        .items-per-page {
            display: none;
        }
    }
}

.sort-by,
.items-per-page {
    float: left;
    margin: 0 0 0 rem(20px);
    fieldset {
        @extend .select-style;
        min-width: 4.5em; //makes room for 2 digits in the items-per-page dropdown
    }
    label {
        @include visually-hidden();
    }
    button {
        background: none repeat scroll 0 0 $very-light-gray;
        border: 0 none;
        color: $body-text-color-drk;
        font-size: 0.9em;
        padding: 0.3em;
        width: auto;
    }
}

.pagination {
    float: right;
    margin: 0;
    ul {
        float: right;
        margin: 0;
        padding: 0;
    }
    li {
        display: block;
        float: left;
        list-style: none;
        &.current-page,
        a {
            display: block;
            border: $border;
            border-radius: 2px;
            padding: rem(10px);
        }
    }
    .results-hits {
        display: none;
    }
    @include respond(large-up) {
        margin: 0 rem(16px) 0 0;
        .results-hits {
            display: block;
            float: left;
            margin: rem(10px);
            color: $body-text-color;
        }
    }
}

.search-result-items {
    margin: 0;
    padding: 0;
    li {
        list-style: none outside none;
    }
    .grid-tile {
        display: inline-block;
        vertical-align: top;
        background: none repeat scroll 0 0 $base-bg;
        box-shadow: $shadow-tile;
        list-style: none outside none;
        margin: 0 0 2% 3%;
        padding: 2%;
        width: 41.5%; //2 tiles per row
    }
    .invisible {
        display: none;
    }
    @include respond(desktop) {
        .new-row {
            clear: both;
        }
        .grid-tile {
            width: 26%; //3 tiles per row
        }
    }

    .wide-tiles & {
        .grid-tile {
            width: 91%; //1 tile per row
        }
        .product-tile {
            .product-swatches {
                bottom: auto;
                left: auto;
                position: relative;
                right: auto;
                margin-top: rem(5px);
                li {
                    float: left;
                }
            }
        }
    }
}

.search-result-content {
    clear: both;
}

.search-promo {
    padding: rem(20px);
}

#results-content {
    background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $trans;
    padding-top: rem(30px);
}

.folder-content-list {
    /*
    margin: 0;
    overflow: hidden;
    padding: 0 rem(20px);
    li {
        float: left;
        list-style: none outside none;
        margin: 0;
        padding: 2% 2% 2% 0;
        width: 48%;
    }
    .content-title {
        display: block;
    }
    @include respond(medium-down) {
        li {
            float: none;
            width: 100%;
            clear: both;
        }
        .results-hits {
            float: none;
        }
    }
    */
    padding: .5em 1%;
    clear: both;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    li {
        box-sizing: border-box;
        list-style: none outside none;
        flex-basis: 100%;
        flex-grow: 1;
        background-color: $box-bg;
        border: $border2;
        margin: 1%;
        padding: rem(16px);
        @include respond(medium-up) {
            /* for non-flex browsers */
            display: inline-block;
            width: 47%;
            vertical-align: top;
            /* for flex browsers */
            flex-basis: 40%;
        }
    }
}

.no-results {
    padding: rem(20px);
}

.toggle-grid {
    display: block;
    float: left;
    margin-right: 0.5em;
    i {
        cursor: pointer;
        margin-right: 0.3em;
    }
    [data-option="column"] {
        color: $accent1-color;
    }
    &.wide {
        [data-option="wide"] {
            color: $accent1-color;
        }
        [data-option="column"] {
            color: $body-text-color;
        }
    }
}
