@import "../lib/flag-icon-css/flag-icon";

.country-selector {
    border-bottom: 5px solid darken($body-text-color, 10%);
    color: $inverted-text-color;
    width: 100%;
    @include respond(large-up) {
        border-bottom: none;
        padding: 0;
        position: absolute;
        top: -1rem;
        right: .2rem;
        z-index: z("country-selector");
        width: auto;
    }
    .selector {
        display: none;
        margin-top: .5rem;
        padding-left: 2rem;
        &.active {
            display: block;
        }
        @include respond(large-up) {
            background-color: $base-bg;
            border-radius: 3px;
            box-shadow: $shadow;
            margin-top: 1rem;
            padding: 1rem;
        }
    }
    .current-country {
        cursor: pointer;
        padding: .8em 1rem;
        &.selector-active {
            border-bottom: 1px solid lighten($header-nav-mobile-bg, 20%);
            .selector-icon {
                transform: rotate(270deg);
            }
        }
        @include respond(large-up) {
            padding: 0;
            &.selector-active {
                border-bottom: none;
                padding-bottom: 0;
                // prevent the text from shifting left to accommmodate the selector width
                position: absolute;
                right: 0;
            }
        }

        .selector-icon {
            margin-right: .3rem;
            @include respond(large-up) {
                float: right;
                margin-right: 0;
                margin-left: .3rem;
                // display as angle-down icon for desktop
                transform: rotate(90deg);
            }
        }
        .flag-icon {
            border: none;
        }
    }
    .continent-name {
        margin-top: 0;
        margin-bottom: .5rem;
        @include respond(large-up) {
            color: $alert-color;
        }
    }
    .country {
        margin-bottom: .5rem;
    }
    .locale {
        border-right: $border;
        display: inline-block;
        padding: 0 .3rem;
        vertical-align: middle;
        &:first-of-type {
            padding-left: 0;
        }
        &:last-of-type {
            border-right: none;
            padding-right: 0;
        }
    }
    .flag-icon {
        border: $border;
        margin-right: .3rem;
    }
}
