@import "nav";
@import "menu_utility";
@import "search_suggestion";
@import "country_selector"; //remove this if multiple countries will not be used
@import "minicart";

.skip-nav {
    position: absolute;
    left: -10000px;

    &:focus {
        top: 0;
        left: 0;
        z-index: 10000;
        padding: 0.5em;
        background-color: $skip-nav-focus-bg-color;
    }
}

.top-banner {
    @include clearfix();
    position: relative;
    * {
        box-sizing: border-box;
    }
}

.primary-logo {
    // height of image
    height: 45px;
    padding: .1em 0 0 0;
    margin: 0 auto;
    // width of image
    width: 200px;
    z-index: z("primary-logo");
    @include respond($mobile-menu-breakpoint) {
        margin: 0;
        padding: 0.3em 0 0 .5em;
    }

    // The following was implemented to avoid altering any header markup in Ref App. The suggested
    // best practice would not be to use this complex calc function, but to wrap container divs
    // around the necessary elements throughout header so that their inner contents can be given
    // @include content-width() to restrict their max width.
    @include respond($max-content-breakpoint) {
        margin: 0 0 0 calc((100vw - #{$max-content-breakpoint})/2);
    }
}

.header-banner {
    display: block;
    .header-promotion {
        background-color: $header-banner-bg;
        color: #fff;
        padding: 3px 0 2px;
        text-align: center;
    }
}

.header-search {
    color: $inverted-text-color;
    width: 100%;
    background-color: lighten($header-nav-mobile-bg, 20%);
    @include respond($mobile-menu-breakpoint) {
        background-color: $input-bg;
        border: $input-border;
        border-radius: 10px;
        color: $body-text-color-lt;
        height: 2.5em;
        margin: 1.6em auto 0;
        position: relative;
        width: 300px;
        z-index: z("search");
    }

    input[type="text"] {
        color: $inverted-text-color;
        background-color: $trans;
        border: none;
        float: left;
        margin: 0;
        padding-left: 16px;
        height: 2.3rem;
        width: 85%;
        // default for older browser
        width: calc(100% - 2.5rem);
        @include respond($mobile-menu-breakpoint) {
            height: 1.75rem;
            padding: 0 1rem;
            color: $body-text-color-lt;
        }
    }
    button {
        background-color: $trans;
        border: none;
        color: $link-alt-color;
        padding: 0 .65rem;
        line-height: 2.3rem;
        @include respond($mobile-menu-breakpoint) {
            padding: 0.25rem 0.6rem;
            @include line-height(20px);
            min-height: 20px;
        }

        &:hover {
            color: $link-hover-color;
        }
        i {
            font-size: 1.4em;
        }
    }
}
