.menu-utility-user {
    margin: 0;
    padding: 0;
    @include respond($mobile-menu-breakpoint) {
        position: absolute;
        right: rem(68px); //9.7em;
        top: .2em;
    }

    // The following was implemented to avoid altering any header markup in Ref App. The suggested
    // best practice would not be to use this complex calc function, but to wrap container divs
    // around the necessary elements throughout header so that their inner contents can be given
    // @include content-width() to restrict their max width.
    @include respond($max-content-breakpoint) {
        right: calc((100vw - #{$max-content-breakpoint})/2 + #{rem(68px)});
    }

    li {
        border-top: $border3;
        list-style: none;
        padding: 0.8em 1rem;
        &:first-child {
            border: none;
        }
        i {
            font-size: 1.5em;
            padding: 0 8px 0 0;
        }
        @include respond($mobile-menu-breakpoint) {
            background-color: $trans;
            border-color: $trans;
            float: left;
            margin: 0;
            padding: 0.1em 1.5em 0;
            text-align: center;
            &:first-child {
                border: none;
            }
        }

        a {
            color: $inverted-text-color;
            text-decoration: none;
            &:active {
                color: $link-hover-color;
            }
            @include respond($mobile-menu-breakpoint) {
                color: $icon-header-fill;
                transition: color .5s ease;
                &:hover {
                    color: $icon-header-hover-fill;
                    text-decoration: none;
                }
                i {
                    display: block;
                    font-size: 3em;
                    padding: 0;
                }
                span {
                    display: none;
                }
            }
        }
    }
    .user-info {
        @include respond($mobile-menu-breakpoint) {
            position: relative;
            transition: color .5s ease;
            &.active {
                .user-login {
                    color: $accent1-color;
                }
                .user-panel {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .user-panel {
            box-sizing: content-box;
            //See https://code.google.com/p/chromium/issues/detail?can=2&q=max-content&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Cr%20Status%20Owner%20Summary%20OS%20Modified&id=522191&thanks=522191&ts=1439925077
            margin-top: .5rem;
            text-align: left;
            transition: all .3s ease;
            width: 10rem;
            //For IE
            width: max-content;
            h3 {
                display: none;
                margin: 0;
                padding-bottom: .7em;
                text-transform: uppercase;
                @include respond($mobile-menu-breakpoint) {
                    display: block;
                }
            }
            @include respond($mobile-menu-breakpoint) {
                background-color: $base-bg;
                border: $border;
                border-radius: 5px;
                box-shadow: $shadow2;
                margin-top: 0;
                opacity: 0;
                padding: 1em;
                position: absolute;
                right: -1.5rem;
                visibility: hidden;
                z-index: z("user-panel");
            }

            .user-links {
                padding-left: 1.5rem;
                text-align: center;
                @include respond($mobile-menu-breakpoint) {
                    padding-left: 0;
                }
            }
            a {
                color: $link-color;
                display: block;
                padding: .5rem 0;
                @include respond($mobile-menu-breakpoint) {
                    padding: 0;
                    margin-bottom: .5rem;
                }
            }
            .user-logout {
                color: $inverted-text-color;
                margin-top: .5rem;
                padding: 0.5em 2em;
                text-transform: uppercase;
                &:hover {
                    color: $link-hover-color;
                }
            }
        }
    }
}
