#mini-cart {
    position: absolute;
    right: 1.6em;
    top: .2em;
    z-index: z("minicart");
    @include respond($mobile-menu-breakpoint) {
        right: rem(20px); //5.7em;
        top: .5em;
    }

    // The following was implemented to avoid altering any header markup in Ref App. The suggested
    // best practice would not be to use this complex calc function, but to wrap container divs
    // around the necessary elements throughout header so that their inner contents can be given
    // @include content-width() to restrict their max width.
    @include respond($max-content-breakpoint) {
        right: calc((100vw - #{$max-content-breakpoint})/2 + #{rem(20px)});
    }

    .mini-cart-name {
        a {
            color: $link-color;
        }
    }
}

.mini-cart-total {
    position: relative;
    .mini-cart-link {
        color: $icon-header-hover-fill;
        text-transform: uppercase;
        i {
            font-size: 3em;
        }
        .minicart-quantity {
            background-color: $product-badge-bg;
            border-radius: 10px;
            color: $inverted-text-color;
            padding: 1px 4px;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
        }
    }
    .mini-cart-empty {
        color: $icon-header-fill;
        transition: color 500ms ease;
        &:hover {
            color: $icon-header-hover-fill;
            text-decoration: none;
        }
        .minicart-quantity {
            background-color: $header-bg;
            border: $border;
            color: $body-text-color-lt;
        }
    }
}

.mini-cart-content {
    background-color: $base-bg;
    border: $border;
    box-shadow: $shadow-minicart;
    display: none;
    position: absolute;
    right: 0;
    top: 2.5em;
    width: 18rem;
    z-index: z("minicart", "dropdown");
    #mini-cart:hover & {
        display: block;
    }
    @include respond(medium-down) {
        max-width: 220px;
    }
}

.mini-cart-close-btn {
    position: absolute;
    top: 12px;
    right: 6%;
    cursor: pointer;
}

.mini-cart-header {
    @include font-bold(18px);
    padding: 1em 1em 0.5em;
    text-transform: uppercase;
}

.mini-cart-products {
    max-height: 360px;
    padding: 0.5em;
    overflow: auto;
    @include respond(medium-down) {
        max-height: 100%;
    }

    @include respond(large) {
        max-height: 100%;
    }
}

.mini-cart-product {
    border-bottom: $border3;
    overflow: hidden;
    padding: 0.5em;
    position: relative;
    &:last-of-type {
        border: none;
    }
    &.collapsed {
        .mini-cart-name,
        .mini-cart-attributes,
        .mini-cart-pricing,
        .product-availability-list {
            width: 90%;
        }
        .mini-cart-image {
            display: none;
        }
    }
    .mini-cart-toggle {
        cursor: pointer;
        font-size: 1.5em;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.mini-cart-image {
    float: left;
    width: 50%;
    img {
        max-width: 90%;
    }
}

.mini-cart-name {
    float: right;
    @include font-italic();
    width: 50%;
}

.mini-cart-attributes,
.mini-cart-product .product-availability-list {
    float: right;
    @include font-bold(15px);
    width: 50%;
}

.mini-cart-pricing {
    clear: right;
    float: right;
    font-size: 0.9em;
    width: 50%;
}

.mini-cart-totals {
    text-align: center;
}

.mini-cart-subtotals {
    @include font-bold();
    margin: 0 auto;
    padding-top: .5em;
    width: 16rem;
    //for IE
    width: max-content;
    .label {
        margin: 0 .5rem;
    }
    .value {
        margin-right: .5rem;
    }
}

.mini-cart-slot {
    background: none repeat scroll 0 0 $box-bg;
    border: $border;
    font-size: 0.9em;
    @include font-italic();
    margin: 1em;
}

.mini-cart-link-checkout {
    clear: both;
    display: block;
    margin: 1em 0;
    text-align: center;
}

.checkout-mini-cart {
    background-color: $box-bg;
    max-height: 330px;
    overflow: auto;
}
