nav[role="navigation"] {
    @extend .clearfix;
    color: $inverted-text-color;
    background-color: $header-nav-mobile-bg;
    left: -50%;
    margin-top: 0;
    position: absolute;
    width: 50%;
    top: 0;
    @include respond(large-up) {
        left: rem(-320px);
        width: rem(320px);
    }
    @include respond($mobile-menu-breakpoint) {
        color: $body-text-color;
        background-color: $header-bg;
        left: auto;
        margin-top: -4em;
        position: static;
        width: 100%;
    }
}

.menu-toggle {
    background-color: $trans;
    border: none;
    color: $link-color;
    display: block;
    float: left;
    margin-left: 0.2em;
    padding: 0.5em;
    font-size: 1.1em;
    min-height: initial;
    line-height: initial;
    &:hover {
        background-color: $trans;
        border-color: #84bd00;
        color: #84bd00;
    }
    .menu-icon {
        font-size: 2em;
    }
    @include respond($mobile-menu-breakpoint) {
        display: none;
    }
}

.menu-category {
    @include clearfix();
    border-bottom: 5px solid lighten($header-nav-mobile-bg, 20%);
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    @include respond($mobile-menu-breakpoint) {
        border-bottom: $border2;
        margin: 1.35em auto 0;

        // The following was implemented to avoid altering any header markup in Ref App. The suggested
        // best practice would not be to use this complex calc function, but to wrap container divs
        // around the necessary elements throughout header so that their inner contents can be given
        // @include content-width() to restrict their max width.
        padding: 0 calc((100vw - #{$max-content-breakpoint})/2);

        width: 100%;
    }

    li {
        list-style: none;
        border-top: 1px solid lighten($header-nav-mobile-bg, 20%);
        @include respond($mobile-menu-breakpoint) {
            border: none;
            float: left;
            &:hover > a {
                background-color: $trans;
            }
        }
    }
    a {
        color: $link-color;
        display: block;
        font-size: 1.2em;
        padding: 0.9rem 1rem;
        width: 100%;
        @include respond($mobile-menu-breakpoint) {
            font-size: 1em;
            width: auto;
        }

        @include respond(desktop) {
            padding: 1em 2rem;
        }
    }
}

.level-1 > li {
    @include clearfix();
    // override background-color for small viewport
    background-color: $trans;
    &:first-child {
        border: none;
    }
    .menu-item-toggle {
        color: $link-color;
        cursor: pointer;
        float: left;
        line-height: 1.1;
        padding: 1rem 0.8rem;
        transition: background-color 0.3s;
        width: 2.1rem;
        &:hover {
            background-color: darken($header-nav-mobile-bg, 10%);
        }
        @include respond($mobile-menu-breakpoint) {
            display: none;
        }
    }
    a {
        transition: background-color 0.3s, color 0.3s;
        opacity: 1;
        &:hover {
            background-color: darken($header-nav-mobile-bg, 10%);
        }
        @include respond($mobile-menu-breakpoint) {
            &:hover {
                background-color: $trans;
            }
        }
    }
    > a {
        float: left;
        padding-left: 0.8rem;
        &.has-sub-menu {
            width: calc(100% - 2.1rem);
        }
        @include respond($mobile-menu-breakpoint) {
            float: none;
            padding-left: 1rem;
            width: 100%;
            &.has-sub-menu {
                width: 100%;
            }
            &:hover,
            &:focus {
                background-color: darken($link-color, 10%);
                color: $inverted-text-color;
            }
        }

        @include respond(desktop) {
            padding-left: 2rem;
        }
    }
}

.level-2 {
    clear: left;
    display: none;
    > ul {
        @extend .clearfix;
        padding-bottom: .5em;
        padding-left: 2.1rem;
    }
    .level-1 > .active & {
        display: block;
    }
    @include respond($mobile-menu-breakpoint) {
        background-color: $header-bg;
        box-shadow: $shadow;
        color: $body-text-color;
        padding: 0;
        position: absolute;
        z-index: z("mega-menu");
        .level-1 li:hover & {
            display: block;
        }
        a {
            color: $link-color;
            &:hover {
                text-decoration: underline;
            }
        }
        > ul {
            float: left;
            padding-left: 0;
            > li {
                float: none;
                min-width: 12em;
                > a {
                    padding: 0.5em 1rem;
                    text-transform: none;
                }
            }
        }
        .menu-vertical {
            > li > a:first-child {
                padding-top: 1em;
            }
        }
        .menu-horizontal {
            float: none;
            > li {
                border-right: $border;
                float: left;
                padding-right: 2rem;
                &:last-child {
                    border-right: none;
                }
            }
        }
        .banner {
            float: left;
        }
    }

    .banner {
        display: none;
        img {
            vertical-align: top;
        }
        @include respond($mobile-menu-breakpoint) {
            display: block;
        }
    }
}

.level-3 {
    display: none;
    padding-left: 2em;
    .level-2 .active & {
        display: block;
    }
    @include respond($mobile-menu-breakpoint) {
        display: block;
        a {
            color: darken($link-color, 20%);
            @include font-reg();
            font-size: 1em;
            padding: 0;
        }
        li {
            float: none;
            padding: 0.4em;
        }
    }
}
