
.js {
    #suggestions {
        background-color: $box-drk-bg;
        color: $subtle-text-color;
        cursor: pointer;
        padding: 0;
        display: none;
        position: absolute;
        z-index: z("search", "search-suggest-js");
        div {
            clear: both;
            height: 23px;
            padding: 5px;
            overflow: hidden;
            white-space: nowrap;
            &:hover {
                background-color: $border-color;
                color: $body-text-color-drk;
            }
            .suggestionterm {
                float: left;
                overflow: hidden;
                width: 110px;
            }
            .hits {
                float: right;
                line-height: 1.8em;
                text-align: right;
                margin-left: 3px;
            }
        }
    }
}

.search-suggestion-wrapper {
    @include clearfix();
    position: absolute;
    background-color: $base-bg;
    border: $border3;
    box-shadow: $shadow;
    width: 100%;
    z-index: z("search", "search-suggest-wrapper");
    @include respond($mobile-menu-breakpoint) {
        &.full {
            margin-left: -75%;
            width: 175%;
            .phrase-suggestions {
                width: 42.8571429%;
                float: left;
            }
            .product-suggestions {
                width: 57.1428571%;
                float: right;
            }
        }
    }

    .hitgroup {
        color: $body-text-color;
        margin: .7rem 0 .7rem .7rem;
        .header {
            margin: 0 0 .5rem 0;
        }
        .hit {
            display: block;
            margin-left: 1rem;
            margin-bottom: .5rem;
            &:hover {
                text-decoration: underline;
            }
        }
        .parent-category {
            color: $body-text-color-lt;
        }
    }
}

.phrase-suggestions {
    border-top: $border;
    @include respond(large-up) {
        border-top: none;
    }
}

.product-suggestion {
    @include clearfix();
    $background-color: $base-bg;
    border: $border;
    border-color: $base-bg;
    border-top-color: $border-color;
    padding: .5em;
    &:hover,
    &:focus {
        background-color: $box-bg;
        border: $border;
    }
    .product-image {
        float: left;
        text-align: center;
        width: 25%;
        img {
            max-width: 100%;
        }
    }
    .product-details {
        float: right;
        padding-top: .5em;
        width: 70%;
        .product-price {
            color: $price-standard-color;
        }
    }
}

.search-phrase {
    color: $body-text-color-lt;
    margin: 1em;
    .completed {
        @include font-italic();
        .original {
            text-decoration: underline;
            font-weight: $font-wt-bold;
        }
    }
    .corrected {
        font-weight: $font-wt-bold;
    }
}
