.tooltip {
    cursor: help;
    position: relative;
    &.product-tile {
        cursor: pointer;
        display: block;
    }
}

@include respond(medium-down) {
    .tooltip {
        font-size: .9em;
    }
    .tooltip,
    #tooltip {
        display: none;
    }
    .form-field-tooltip {
        float: none;
        margin: 0 0 10px 5px;
        width: auto;
    }
}


.tooltip-content {
    display: none;
}

.ui-tooltip.ui-widget-content {
    background: $tooltip-bg;
    border-radius: $tooltip-radius;
    box-shadow: $tooltip-shadow;
    color: $tooltip-color;
}

.ui-tooltip-content {
    padding: 0.3em;
    .recommendation-tooltip-header {
        font-size: 1.2em;
        font-weight: $font-wt-bold;
        padding: 0.5em;
        .product-price {
            font-weight: $font-wt-regular;
            .price-standard {
                color: $accent1-color;
                text-decoration: line-through;
            }
        }
    }
    .recommendation-tooltip-description,
    .recommendation-tooltip-attributes {
        padding: 0.8em;
    }
    .shipping-method-cost,
    .surcharge-product,
    .promo {
        text-align: right;
        padding-bottom: .3rem;
    }
    .shippingtotal {
        clear: right;
        text-align: right;
        margin-top: .3rem;
        .value {
            border-top: $border;
            border-color: lighten($tooltip-bg, 20%);
            padding-top: .3rem;
        }
    }
}
