body {
    background: none repeat scroll 0 0 $body-bg;
    overflow-x: hidden; //to prevent full-bleed-width assets from causing a horizontal scroll bar to appear in page
    @include font-reg(12px);
    letter-spacing: $body-letter-spacing;
}

img {
    max-width: 100vw;
}

a {
    overflow: hidden;
    color: $link-color;
    text-decoration: $link-decor;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decor;
    }
}

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

td {
    padding: 1em;
    vertical-align: top;
}
