.breadcrumb {
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    padding: .5em 1%;

    li {
        display: inline;
        list-style: none outside none;

        &::after {
            color: $breadcrumb-spacer-color;
            content: "/";
            margin-left: .4em;
        }

        &:last-child {
            font-weight: $font-wt-bold;
            &::after {
                content: "";
            }
        }

        &.breadcrumb-refined-by,
        &.breadcrumb-refinement {
            &:last-child {
                font-weight: $font-wt-bold;

                &::after {
                    content: "";
                }
            }
        }
    }
}

.paging-current-page {
    left: -999em;
    position: absolute;
}

.breadcrumb-refinement {
    font-weight: $font-wt-bold;
    &::after {
        content: attr(data-divider);
        font-style: normal;
    }
    &:last-of-type {
        &::after {
            content: "";
        }
    }
}

.breadcrumb-refinement-value {
    background-color: rgba($accent1-color, 0.3);
    display: inline-block;
    border-radius: 3px;
    margin: 0 .42em .42em 0;
    padding: 0 .42em;
}

.breadcrumb-relax {
    background: none;
    color: $alert-color;
    font-style: normal;
    padding: 0 0 0 .4em;
}

.breadcrumb-result-text a,
.breadcrumb .searchphraselink {
    background: none;
    color: $link-color;
    padding: 0;
}
