footer {
    background-color: $footer-bg;
    clear: both;
    letter-spacing: 1px;
}

.footer-container {
    @include content-width()
    display: table;
    footer {
        display: table-row;
    }
    .footer-item {
        display: block;
        padding: .5em 1.5em;
        width: 100%;
        @include respond(large-up) {
            display: table-cell;
            padding: 1.5em;
            width: 25%;
        }
    }
    h3 {
        text-transform: uppercase;
    }
    .menu-footer {
        float: none;
        margin: .5em;
        padding: 0;
        @include respond(large-up) {
            margin: 1em 0;
        }

        li {
            float: none;
            line-height: 2.5em;
            list-style: none !important;
        }
    }
    a {
        color: $inverted-text-color;
        &:hover {
            color: $very-light-gray;
            text-decoration: none;
        }
    }
}

.social-links {
    padding-left: 0;
    li {
        display: inline;
        float: none;
        padding-right: 0.5em;
    }
}

#email-alert-signup {
    white-space: nowrap;
    input[type="text"] {
        border: none;
        margin-left: 0;
        width: 15em;
    }
    button {
        background-color: $box-drk-bg;
        border: none;
        color: $inverted-text-color;
        height: 31px;
        padding: 0;
        width: 31px;
    }
    @include respond(medium-down) {
        margin: 0;
        width: 100%;
        label {
            text-align: center;
            width: 100%;
        }
        input [type="text"] {
            float: none;
            margin: 0;
            width: 50%;
        }
        input[type="image"] {
            float: none;
            vertical-align: bottom;
        }
    }

    @include respond(large) {
        margin: 0;
        width: 100%;
        label {
            float: none;
            display: block;
            text-align: center;
            width: 100%;
        }
        input[type="text"] {
            width: 73%;
        }
    }
}

.copyright {
    background-color: $footer-bg;
    color: $inverted-text-color;
    text-align: center;
}

.postscript {
    background-color: $footer-bg;
    color: $inverted-text-color;
    @include font-italic();
    text-align: center;
}
