//-----------------------------
// Form Components
//-----------------------------

// buttons
@import "buttons";

legend {
    background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $section-header-bg;
    border-bottom: 1em solid $base-bg;
    @include font-bold;
    font-size: 1.1em;
    margin: 0;
    padding: 1.16em 2% .83em;
    position: relative;
    text-transform: uppercase;
    width: 96%;
    .ie7 & {
        width: 94%;
    }
    span {
        @include font-semibold(12px);
        position: relative;
        text-transform: none;
        padding: 0 .5em;
        em {
            color: $body-text-color;
        }
    }
}

.dialog-required {
    @include font-semibold(12px);
    display: inline;
    position: relative;
    padding: .16em 0;
    text-transform: none;
    em {
        color: $alert-color;
        font-style: normal;
        text-transform: uppercase;
    }
}

label {
    display: block;
    margin-bottom: 5px;
    @include font($label-font, $label-font-size);
    @include line-height(20px);
    color: $label-color;
    .form-horizontal & {
        float: left;
        margin-top: 8px;
        margin-bottom: 0;
        width: 100%;
        @include respond(large-up) {
            text-align: left;
            width: 25%;
        }
    }
    .label-inline &,
    .field-wrapper & {
        font-weight: $font-wt-regular;
        @include font-size(12px);
        @include line-height(16px);
        display: inline;
        float: none;
        margin-top: 0;
        text-align: left;
        width: auto;
    }
    .label-above & {
        margin-bottom: .3rem;
        width: auto;
    }
}

.form-label-text {
    @include font-bold(13px);
    float: left;
    padding: 0.75em 0 0;
    text-align: right;
    width: 25%;
}

.form-row {
    @include clearfix();
    margin: .5rem 0 1rem;
}

.form-row-button {
    clear: left;
    .form-horizontal & {
        @include respond(large-up) {
            margin-left: 27%;
            width: 62%;
        }
    }
}

.field-wrapper {
    box-sizing: border-box;
    width: 100%;
    .form-horizontal & {
        float: left;
        width: 100%;
        @include respond(large-up) {
            padding-left: 2%;
            width: 60%;
        }
    }
    .label-inline & {
        float: left;
        padding-left: 0;
        width: auto;
    }
    .label-above & {
        float: none;
        padding-left: 0;
        width: auto;
    }
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
textarea {
    box-sizing: border-box;
    padding: 0 $input-padding-horizontal;
    border: $input-border;
    border-radius: $input-border-radius;
    width: 100%;
    height: $input-height;
    @include font-size($input-text-size);
    text-indent: 0;
    color: $input-text-color;
    background-color: $input-bg;
    &:focus {
        border: $focus-border;
        outline: $focus-outline-style;
    }
}

textarea {
    max-width: 100%;
    height: $textarea-height;
}

select {
    width: 100%;
    height: $input-height;
    box-sizing: border-box;
    border: $input-border;
    border-radius: $input-border-radius;
    color: $input-text-color;
    @include font-size($input-text-size);
    background-color: $input-bg;
    &:focus {
        border: $focus-border;
        outline: $focus-outline-style;
    }
}

/* ------ Select Box Styles: danielneumann.com Method (customized to iRobot) ------ */
/* ------ Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ ------ */
.select-style {
    overflow: hidden;
    display: block; // set display to inline-block to allow a select box to shirnk down to it's natural width (rather than 100%)
    padding-right: $dropdown-arrow-icon-width;
    //Hack: IE10 only
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        padding-right: 10px;
    }
    //Hack: IE9 only
    @media all and (min-width: 0\0) and (min-resolution: .001dpcm) {
        padding-right: 0;
    }
    box-sizing: border-box;
    border: $input-border;
    border-radius: $input-border-radius;
    background: $input-bg url("../images/svg-icons/down-triangle.svg") no-repeat scroll;
    background-position: right 10px center;
    -moz-appearance: window;
    select {
        border: 0;
        background: $trans;
        padding: 2px 0 2px 10px;
        height: $input-height - $input-border-width * 2;
        //Hack: IE9 only
        @media all and (min-width: 0\0) and (min-resolution: .001dpcm) {
            padding-right: 10px;
        }
        width: 120%; // in case some browser doesn't support the calc function below
        width: calc(100% + #{$dropdown-arrow-icon-width});
        appearance: none;
    }
    label {
        display: none;
    }
}

input[type="checkbox"],
input[type="radio"] {
    opacity: 0;
    position: absolute;
    &:focus + label::before {
        border: $focus-border;
        outline: $focus-outline-style;
    }
    & + label {
        position: relative;
        &::before {
            content: "";
            background: $input-bg; // should not be $trans
            border: $input-border;
            display: inline-block;
            vertical-align: text-bottom;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            text-align: center;
        }
    }
}

input[type="checkbox"] {
    &:checked + label::before {
        background: url("../images/svg-icons/checkmark.svg") no-repeat center;
    }
}

input[type="radio"] {
    & + label {
        display: block;
        clear: both;
    }
    .options-inline & + label {
        display: inline;
        clear: none;
        &:nth-of-type(n + 2)::before { //all but the first
            margin-left: rem(32px);
        }
    }
    & + label::before {
        border-radius: 50%;
    }
    &:checked + label::before {
        background: $trans url("../images/svg-icons/radio-dot.svg") no-repeat center;
    }
}

.form-caption {
    clear: left;
    width: auto;
    font-size: inherit;
    line-height: 2em;
    .checkbox & {
        @include font-size(12px);
        text-indent: rem(32px);
    }
    .form-horizontal & {
        @include respond(large-up) {
            margin-left: 27%;
            @include font-size(12px);
        }
    }
    .label-above & {
        margin-left: 0;
    }
    .form-indent & {
        margin-left: 0;
    }
}

.form-indent {
    @include respond(large-up) {
        margin-left: 27%;
        .field-wrapper {
            width: 80%;
            padding-left: 0;
        }
    }
}

.error-message {
    padding: 0.7em 0.5em;
    text-indent: 0;
    width: 49.5966%;
}

.error {
    color: $error-color;
}

input.error {
    border: $error-border;
}

span.error,
div.error {
    @include font-size(12px);
    background: none;
}

.error-form {
    background-color: $box-bg;
    border: $error-border;
    border-radius: .5em;
    margin: 0.5em 0;
    padding: 0.8em;
}

.form-inline {
    form {
        padding: 0 0 2em;
        width: 98%;
    }
    label {
        padding: 0 0 0.75em;
        text-transform: uppercase;
        width: auto;
    }
    input[type="text"],
    select {
        margin-left: 0;
        width: 95%;
    }
    button {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}

.row-inline {
    display: inline;
    label {
        width: auto;
    }
}

.require-dialog {
    @include font-semibold;
    position: absolute;
    right: 1em;
    text-transform: none;
    top: 1em;
}

.required-indicator {
    color: $error-color;
    @include font-size(16px);
    margin-left: 0.25em;
    white-space: nowrap;
}

.form-field-tooltip {
    @include font-size(12px);
    float: left;
    width: 12%;
    margin-left: 3%;
    padding-top: .75em;
    line-height: 1em;
    text-decoration: underline;
}

.js .simple-submit {
    display: none;
}
