// Import the styles generated from the SVG icons
@import "../../../../../org_organizationid/cartridge/scss/default/compiled/svg";

// Styles apply to svg icons implemented via the svghelper module
.icon {
    display: inline-block;
    vertical-align: middle;
    fill: $icon-fill;

    // Icons grouped by extra class
    &.hoverable:hover {
        fill: $icon-hover-fill;
    }
    &.header-icons {
        fill: $icon-header-fill;
        &:hover {
            fill: $icon-header-hover-fill;
        }
    }
    &.social-icons {
        fill: $icon-social-fill;
        &:hover {
            fill: $icon-social-hover-fill;
        }
    }

    // Individual icons
    &.checkmark {
        fill: $accent1-color;
    }
    &.radio-dot {
        fill: $accent1-color;
    }
    &.down-triangle {
        fill: $dropdown-arrow-icon-color;
    }
}
