/* Import the base jQuery UI styles */
@import "jqueryui/jquery-ui";

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-widget-overlay {
    background: url("../images/interface/ui-overlay-shadow.png") repeat scroll 50% 50% darken($box-drk-bg, 50%);
    opacity: 0.4;
    z-index: z("dialog-overlay");
}

.ui-dialog {
    background-color: $dialog-bg;
    padding: 0;
    .ui-widget-header {
        background-color: $dialog-header-bg;
        border: 0 none;
        border-radius: 0;
        height: 23px;
        text-transform: uppercase;
    }
    .ui-dialog-title {
        color: $dialog-title-color;
        font-weight: $font-wt-bold;
    }
    .ui-icon-closethick {
        background-image: url("../images/interface/icon-ui-close.png");
        background-position: left top;
        height: 32px;
        width: 32px;
        left: 0;
        top: 0;
        margin-left: 0;
        margin-top: 0;
    }
    .ui-dialog-titlebar-close {
        background-color: $trans;
        border: 0 none;
        border-radius: 0;
        height: 32px;
        margin: 0;
        opacity: 0.5;
        padding: 0;
        right: 0;
        top: 0;
        width: 32px;
        &:hover {
            opacity: 1;
        }
        span {
            margin: 0;
            padding: 0;
        }
        .ui-button-text {
            @include visually-hidden();
        }
    }
    h1 h2 {
        font-size: 1.8em;
        @include font-italic();
        font-weight: $font-wt-regular;
        margin: 5px 158px 5px 0;
    }
    .dialog-required {
        font-weight: $font-wt-regular;
        position: relative;
        text-transform: none;
    }
    @include respond(medium-down) {
        max-width: 98%;
        .ui-dialog-content {
            padding: .25em;
            height: auto !important;
            overflow: visible;
        }
    }

    @include respond(large) {
        max-width: 98%;
        .ui-dialog-content {
            height: auto !important;
            overflow: visible;
        }
    }
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-accordion .ui-accordion-content {
    padding: 0;
}

.ui-tabs {
    .ui-tabs-nav {
        height: 2.45em;
        padding: 0;
        li {
            border-color: $base-bg;
            border-style: solid;
            border-width: 0 0 3px 0;
            &.ui-state-active {
                border-bottom-color: $accent1-color;
                a {
                    color: $link-alt-color;
                    font-weight: $font-wt-bold;
                }
            }
            a {
                color: $body-text-color-lt;
            }
        }
    }
    .ui-tabs-panel {
        background-color: $base-bg;
        border: 1px solid $base-bg;
        line-height: 1.5em;
        margin: 0;
        padding: 20px 10px;
        @include respond(large) {
            h3 {
                display: none;
            }
        }
    }
}
