#wrapper {
    background-color: $base-bg;
    border: 0;
    left: 0;
    margin: auto;
    position: relative;
    transition: left 0.2s ease-in;
    width: 100%;
    &.menu-active {
        left: 50%;
        @include respond(large-up) {
            left: rem(320px);
        }
    }
    @include respond($mobile-menu-breakpoint) {
        &.menu-active {
            left: auto;
        }
    }
}

#main {
    @include content-width()
}

.primary-content {
    width: 100%;

    &:focus {
        outline: none;
    }

    @include respond(large-up) {
        box-sizing: border-box;
        border-left: $border;
        float: right;
        margin-left: -1px; //negative #secondary border width
        padding: 0 0 20px;
        position: relative;
        width: calc(100% - #{$left-nav-width});
        .primary-focus & {
            border: 0 none;
            float: left;
            margin: 0;
            width: 76%;
        }
        .full-width & {
            border: 0 none;
            width: 100%;
        }
        .page-content & {
            padding-left: 3%;
        }
    }
}

#secondary {
    border: 0;
    float: none;
    font-size: 1.1em;
    width: 100%;
    @include respond(large-up) {
        background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $trans;
        border-right: $border;
        float: left;
        width: $left-nav-width;
        position: relative;
        nav {
            padding-left: 10px;
            padding-right: 10px;
            a {
                display: block;
            }
        }
        .primary-focus & {
            background: none;
            border: none;
            box-sizing: border-box;
            float: left;
            padding-left: .4rem;
            width: 24%;
        }
    }
}

.secondary-content {
    clear: both;
}
