h1 {
    @include font-size(24px);
    font-weight: $font-wt-regular;
    margin: .625rem 0;
    @include respond(large) {
        font-size: 1.75em;
        margin: 0 0 14px;
    }
}

h2 {
    font-size: 1.3em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.15em;
}

#secondary h1 {
    font-size: 1.75em;
    @include font-italic();
    font-weight: $font-wt-regular;
    margin: 0 0 14px;
}

.primary-content {
    dl {
        clear: both;
        overflow: hidden;
        dt {
            clear: both;
            float: left;
            margin: 2% 0 0;
            min-width: 15%;
        }
        dd {
            float: left;
            margin: 2% 0 0;
            padding: 0 0 0 5%;
        }
    }
}

.col-1 {
    float: left;
    margin: 4px 0;
    width: 48%;
    @include respond(medium-down) {
        float: none;
        width: 100%;
    }
}

.col-2 {
    float: right;
    margin: 4px 0;
    width: 48%;
    @include respond(medium-down) {
        float: none;
        width: 100%;
    }
}

.content-header {
    font-size: 1.75em;
    @include font-italic();
    font-weight: $font-wt-regular;
    margin: 0 0 14px !important;
    span {
        font-size: 0.75em;
        font-style: normal;
        font-weight: $font-wt-regular;
    }
}

.section-header {
    background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $section-header-bg;
    border-bottom: 1px solid $base-bg;
    font-size: 1.1em !important;
    font-weight: $font-wt-bold;
    margin: 0;
    padding: 1em;
    position: relative;
    text-transform: uppercase;
    .dialog-required {
        text-transform: none;
    }
}

.section-header-note {
    font-size: 0.9em;
    font-weight: $font-wt-regular;
    text-transform: none;
}

@include respond(large) {
    table .section-header {
        font-size: 1em !important;
    }
}


.back {
    display: block;
    margin: 0 0 10px;
}

.item-list {
    margin-bottom: 1em;
    tr {
        border-bottom: $border;
        &.last {
            border: 0 none;
        }
        &.headings {
            display: none;
        }
    }
    td {
        padding: 1em;
        vertical-align: top;
        img {
            max-width: 100%;
            min-width: rem(50px);
        }
    }
}

.product-table {
    td {
        box-sizing: border-box;
        display: block;
        float: right;
        width: 60%;
        padding: rem(16px) 0 0 2.5%;
        @include respond(medium-down) {
            &:last-of-type {
                padding-bottom: rem(10px);
            }
        }
        @include respond(large-up) {
            display: table-cell;
            float: none;
            width: auto;
            padding: rem(10px);
            &:last-of-type {
                padding-right: 0;
            }
        }
    }
    .item-image {
        float: left;
        text-align: center;
        width: 40%;
        padding-left: 0;
        @include respond(large-up) {
            float: none;
            width: auto;
            padding-left: rem(10px);
            padding-right: 0;
        }
        img {
            display: inline-block;
            max-width: 100%;
        }
    }
    .item-details {
        @include respond(large-up) {
            width: 32%;
        }
        .name {
            @include font-size(16px)
        }
    }
    .item-dashboard {
        @include respond(large-up) {
            width: 38%;
        }
    }
}
