#secondary a {
    color: $link-color;
}

#category-level-1 {
    li {
        color: $body-text-color;
        display: block;
        .refinement-link {
            background: none repeat scroll 0 0 $trans;
            padding: 0 0 0 1em;
        }
        &.expandable {
            .refinement-link {
                padding: 0 0 0 .4em;
            }
            .active {
                font-weight: $font-wt-bold;
                padding: 0 0 0 .2em;
            }
        }
    }
}

#category-level-2 {
    padding: .5em .1em 0 .7em;
    a {
        &.active {
            color: $body-text-color-drk;
            font-weight: $font-wt-bold;
        }
        &.refinement-link {
            margin: 0 0 0 .4em;
            padding: .5em .1em 0 .7em;
        }
    }
}

#category-level-3 {
    padding: .3em 0 0;
    a {
        &.refinement-link {
            font-style: normal;
            margin: 0 0 0 .9em;
            padding: 0;
        }
    }
}

.refinement-header {
    background-color: $section-header-bg;
    border-top: $border;
    display: block;
    font-size: 1.1em;
    font-weight: $font-wt-bold;
    letter-spacing: 0.125em;
    margin: 0;
    padding: 1.15em .75em .75em;
    text-transform: uppercase;
}

.refinement {
    padding-bottom: .65em;
    position: relative;
    // Hide Refinements on Category Landing Pages
    .pt_categorylanding & {
        display: none;
        &.category-refinement {
            display: block;
        }
    }
    h3 {
        background-color: $section-header-bg;
        border-top: $border;
        font-size: 1.1em;
        letter-spacing: 0.125em;
        margin: 0 0 .65em;
        padding: 1.15em .75em .75em;
        text-transform: uppercase;
        .ie7 & {
            clear: both;
        }
        i {
            color: $accent2-color;
        }
    }
    ul {
        list-style: none outside none;
        margin: 0;
        padding: 0 .55em;
        &.swatches li {
            float: left;
            padding: .16em;
            a {
                border: $border-thick;
                border-radius: .5em;
                display: block;
                padding: 0.2em 0.8em;
            }
            &.selected a {
                border-color: $accent1-color;
                font-weight: $font-wt-bold;
            }
            &.unselectable a {
                background-image: url("../images/interface/icon-color-swatch-unselectable.png");
                background-position: right top;
            }
        }
        &.refinementColor li a {
            height: 23px;
            padding: 0;
            text-indent: -999em;
            width: 30px;
        }
    }
    li {
        padding: .5em;
        i {
            color: $subtle-text-color;
        }
        &.selected {
            i {
                color: $accent2-color;
            }
        }
    }
    .clear-refinement {
        font-weight: $font-wt-bold;
        padding: 0 1.05em 0.4em;
    }
    .refinement-link {
        border: 0 none;
    }
    .selected .refinement-link {
        background-position: left bottom;
    }
    .refinement-top-level {
        padding: 1em;
    }
}

.scrollable {
    height: 10em;
    overflow: auto;
    @include respond(medium-down) {
        height: auto;
        li {
            float: left;
            a {
                border: $border;
                border-radius: 6px;
                display: block;
                padding: .2em .8em;
            }
        }
    }

    @include respond(large) {
        height: auto;
    }
}

.nav {
    ul {
        border: 0 none;
        list-style: none outside none;
        margin: .58em 0;
        padding: 0;
        li {
            list-style: none outside none !important;
            margin: 0 0 .58em !important;
        }
    }
    .toggle {
        border: 0 none;
        display: block;
        font-size: 1em;
        font-weight: $font-wt-bold;
        margin: .83em 0 .58em;
        text-transform: uppercase;
        span {
            background: none repeat scroll 0 0 $trans;
        }
    }
    .expanded {
        background-position: left -96px;
    }
}
