// Slots and Content Assets: Organization-Level Styles
// should contain only strucural rules, i.e. values that will likely need
// to stay consistent from site to site, such as display, widths, and spacing.

.content-slot img {
    height: auto;
    max-width: 100%;
}

.slot-grid-header p {
    margin: 0;
    padding: 0;
}

.product-listing-1x4 {
    background: none repeat scroll 0 0 $base-bg;
    overflow: hidden;
    padding: .83em 0;
    .search-result-items .grid-tile {
        margin: 0 1% 0 2%;
        width: 18%;
        @include respond(medium-down) {
            margin: 2%;
            width: 92%;
        }
    }
}

.account-nav-asset {
    background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $trans;
    line-height: 1.5em;
    margin: 3.33em .83em;
    padding: .83em 0;
    h2 {
        @include font-italic();
        font-weight: $font-wt-regular;
        margin: 1.16em 0 1.66em;
    }
}

.content-asset {
    p {
        line-height: 1.6em;
        margin: 1em 0;
    }
    ul,
    ol {
        line-height: 1.6em;
        margin: 1em 0;
        padding: 0 1.5em;
    }
    ul li {
        list-style: square outside none;
    }
    ol li {
        list-style: decimal outside none;
    }
    address {
        margin: 1em 0;
    }
    .account-options {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        li {
            /* for non-flex browsers */
            display: inline-block;
            width: 100%;
            vertical-align: top;
            /* for flex browsers */
            flex-basis: 100%;
            /* end flex styling */
            max-width: rem(320px);
            background-color: $box-drk-bg;
            border: $border-thick;
            border-radius: 5px;
            list-style-type: none;
            margin: 1rem 0;
            text-align: center;
            transition: background-color 1000ms ease;
            &:hover {
                background-color: $accent2-color;
                border-color: $accent2-color;
            }
            a {
                color: $inverted-text-color;
                display: block;
                padding: 1rem;

                i {
                    @include font-size(96px);
                }
            }
            @include respond(medium-up) {
                /* for non-flex browsers */
                width: 41%;
                /* for flex browsers */
                flex-basis: 41%;
                /* end flex styling */
                margin: 1rem;
            }
            @include respond(desktop) {
                /* for non-flex browsers */
                width: 27%;
                /* for flex browsers */
                flex-basis: 27%;
                /* end flex styling */
            }
        }
    }
}

.browser-compatibility-alert {
    background-color: $error-color;
    color: $error-bg-color;
    font-size: 1.3em;
    line-height: 2em;
    padding: 0.8em;
}

.folder-slot {
    border: $border4;
    padding: 0.5em;
    h2 {
        margin: 0.5em 0;
    }
}

.menu-slot {
    display: none;
    border-top: $border;
    margin-top: 0.5em;
    padding-top: 1.5em;
    .social-links {
        padding-left: 0;
        li {
            display: inline-block;
            padding-left: 0;
        }
    }
    @include respond(large-up) {
        width: 13.5rem;
        display: block;
    }
}

.cart-recommendations,
.category-slot,
.product-slot {
    h1 {
        position: absolute;
        text-align: right;
        bottom: 2%;
        left: 2%;
    }
    h2 {
        margin: 0;
        padding: .1rem .5rem;
    }
    h3 {
        bottom: 0;
        margin: 0;
        opacity: 0.6;
        padding: 2rem;
        position: absolute;
        width: 100%;
    }
    .catlanding-banner {
        overflow: hidden;
        position: relative;
        width: 100%;
        img {
            height: auto;
            width: 100%;
        }
    }
    .category-tile {
        float: left;
        overflow: hidden;
        padding: 0 .15%;
        position: relative;
        width: 100%;
        @include respond(large-up) {
            width: 33%;
        }

        img {
            height: auto;
            width: 100%;
        }
    }
    .cat-banner {
        overflow: hidden;
        position: relative;
        width: 100%;
        img {
            height: auto;
            width: 100%;
        }
        h1 {
            color: $section-heading-color;
            right: 2%;
        }
    }
    .search-result-items {
        .grid-tile {
            box-sizing: border-box;
            box-shadow: none;
            margin: 0;
            padding: 0 1%;
            width: 49%;
            @include respond(large-up) {
                width: 33%;
                box-sizing: border-box;
            }

            .product-tile {
                margin: 0 .15%;
                padding: 1rem 0;
                width: 100%;
                .product-name {
                    @include font-thin(18px);
                    height: auto;
                    margin-top: .5em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    a {
                        color: $link-color;
                    }
                }
                .product-pricing {
                    @include font-thin(16px);
                }
                .product-swatches {
                    display: none;
                }
            }
        }
    }
}

@include respond(large) {
    .html-slot-container img {
        max-width: 100%;
    }
}
