// _typography.scss
// Contains mixins and class definitions for reusable typographies in the site
//
// **************************************************** NOTE ****************************************************
// This file is currently not being utilized in Ref App. It's a sample file to show one way to define typographies
// for reuse throughout the site. Ideally, each typography defined in the delivered style guide PSD would have its
// own corresponding typography definition here, which would be applied directly in the live Style Guide ISML page.
// **************************************************************************************************************


// Hero Typography Mixins
//---------------------------------------

// Content Slot Heading (Homepage slide hero 1)
@mixin type-hero1 {
    @include font-thin(32px);
    text-transform: uppercase;
    @include respond(large-up) {
        @include font-size(80px)
        font-weight: $font-wt-thin;
    }
}

// Content Slot Heading (Homepage slide hero 2)
@mixin type-hero2 {
    @include font-serif(24px);
    @include font-italic();
    text-transform: lowercase;
    @include respond(large-up) {
        @include font-size(64px);
    }
}

// Content Slot Heading (Homepage slide hero 3)
@mixin type-hero3 {
    @include font-light(8px);
    text-transform: uppercase;
    @include respond(large-up) {
        @include font-size(21px);
        font-weight: $font-wt-thin;
    }
}

// Content Slot Thick Subheading -below carousel in homepage
@mixin type-subheading1 {
    @include font-serif(64px);
    @include font-italic();
    font-weight: $font-wt-regular;
    text-transform: lowercase;
}

// Content Slot Thin Subheading - below carousel in homepage
@mixin type-subheading2 {
    @include font-thin(32px);
    text-transform: uppercase;
    @include respond(large-up) {
        @include font-size(37px);
    }
}

// Content Slot Thin Subheading - below carousel in homepage
@mixin type-subheading3 {
    font-family: $serif;
    @include font-size(12.8px);
    font-weight: $font-wt-regular;
    text-transform: uppercase;
}


// Heading Classes
//---------------------------------------

.hero-heading-1 {
    @include type-hero1;
}

.hero-heading-2 {
    @include type-hero2;
}

.hero-heading-3 {
    @include type-hero3;
}

.subheading-1 {
    @include type-subheading1;
}

.subheading-2 {
    @include type-subheading2;
}

.subheading-3 {
    @include type-subheading3;
}





//--------------------------------------------
// EXAMPLE TYPOGRAPHIES (not used in ref app)
//--------------------------------------------

// PDP: Product Name
@mixin type-pdp-product {
    @include font-light(12px, 16px);
    @include respond(large-up) {
        @include font-size(30px);
        @include line-height(34px);
    }
}

// PDP: Ounce Size
@mixin type-pdp-size {
    @include font-light(12px, 16px);
    @include respond(large-up) {
        @include font-size(16px);
        @include line-height(24px);
        letter-spacing: 0.02em;
    }
}

// PDP: Attribute Title
@mixin type-pdp-attr-title {
    @include font-bold(12px);
    line-height: 1em;
    text-transform: uppercase;
    @include respond(large-up) {
        @include font-size(14px);
    }
}

// PDP: Attribute, Availability
@mixin type-pdp-attr {
    @include font-reg(12px);
    line-height: 1em;
    @include respond(large-up) {
        @include font-size(14px);
    }
}

// PDP: Product Price
@mixin type-pdp-price {
    @include font-bold(14px);
    line-height: 1em;
    @include respond(large-up) {
        @include font-size(20px);
    }
}

// PDP: Promo Callout
@mixin type-pdp-callout {
    @include font-bold(12px);
    line-height: 1em;
    text-transform: uppercase;
}

@mixin type-paragraph1 {
    @include font-size(18px);
    @include line-height(30px);
}

@mixin type-paragraph2 {
    @include font-size(14px);
    @include line-height(22px);
}

@mixin type-paragraph3 {
    @include font-size(12px);
    @include line-height(14px);
}

// Body Text Classes
//---------------------------------------

.paragraph-1 {
    @include type-paragraph1;
}
.paragraph-2 {
    @include type-paragraph2;
}
.paragraph-3 {
    @include type-paragraph3;
}


// Link Mixins
//---------------------------------------

@mixin type-link {
    color: $link-color;
    text-decoration: $link-decor;
    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decor;
    }
}

@mixin type-link-alt {
    color: $link-alt-color;
    text-decoration: $link-alt-decor;
    &:hover {
        color: $link-alt-hover-color;
        text-decoration: $link-alt-hover-decor;
    }
}

// Link Classes
//---------------------------------------

.link {
    @include type-link;
}
.link-alt {
    @include type-link-alt;
}
