//--------------------------------
//  VIEWPORTS
//--------------------------------
$small-breakpoint: 320px;
$medium-breakpoint: 480px;
$large-breakpoint: 768px;
$desktop-breakpoint: 1025px;
$max-content-breakpoint: 1280px;


//--------------------------------
//  COLORS
//--------------------------------
// names taken from http://www.color-blindness.com/color-name-hue/
$black: #000;
$cerulean: #00629b;
$citrus: #84bd00;
$dark-gray: #aaa;
$dim-gray: #666;
$gainsboro: #e0e0e0;
$islamic-green: #019328;
$limeade: #4c891f;
$nero: #1a1a1a;
$night-rider: #333;
$nobel: #999;
$rain-forest: #64772d;
$sangria: #900;
$very-light-gray: #ccc;
$white-smoke: #ededed;
$white: #fff;
$trans: transparent;


//--------------------------------
//  PAGE LAYOUT
//--------------------------------
$content-width-gutters: 15px;
$mobile-menu-breakpoint: $desktop-breakpoint;
$left-nav-width: 230px; // content and search refinement left navs


//--------------------------------
//  GLOBAL COMPONENTS
//--------------------------------

// Color Accents
//------------------------
$accent1-color: $citrus; // CTAs, sign-posting, stylistic underlines, headings, footer bkgd, icons...
$accent2-color: $rain-forest; // secondary icons, less emphatic accents/text...
$accent3-color: $cerulean; // some content headings
$accent4-color: $islamic-green; // some homepage content asset headings

// Headings
//------------------------
$section-heading-color: $night-rider;

// Body Text
//------------------------
$body-text-color: $dim-gray;
$body-text-color-lt: $nobel;
$body-text-color-drk: $night-rider;
$body-text-color-black: $nero;
$subtle-text-color: $gainsboro;
$alert-color: $sangria;
$inverted-text-color: $white; //over a dark background
$body-letter-spacing: normal; // 0.025em;
$breadcrumb-spacer-color: $very-light-gray !default

// Background Colors
//------------------------
$body-bg: $nero;
$base-bg: $white;
$header-banner-bg: $rain-forest;
$header-bg: $white;
$header-nav-mobile-bg: $nero;
$footer-bg: $citrus;
$subtle-contrast-bg: $gainsboro;
$box-bg: $white-smoke;
$box-drk-bg: $dim-gray;
$section-header-bg: $white-smoke;

// Borders & Divider Lines
//------------------------
$border-color: $gainsboro;
$border: 1px solid $border-color;
$border-thick: 2px solid $border-color;
$border2-color: $very-light-gray;
$border2: 1px solid $border2-color;
$border3-color: $dark-gray;
$border3: 1px solid $border3-color;
$border4-color: $islamic-green;
$border4: 1px solid $border4-color;

// Links
//------------------------
$link-color: $citrus;
$link-hover-color: $citrus;
$link-decor: none;
$link-hover-decor: underline;
$link-alt-color: $dim-gray;
$link-alt-hover-color: $citrus;
$link-alt-decor: none;
$link-alt-hover-decor: underline;

// Errors
//------------------------
$error-color: $sangria;
$error-bg-color: $white;
$error-border: 1px solid $error-color;

// Drop Shadows
//------------------------
$shadow: 0 7px 22px 0 rgba($black, 0.2);
$shadow2: 0 2px 5px 0 $very-light-gray;
$shadow-minicart: -2px 3px 3px 0 rgba(0, 0, 0, 0.3);
$shadow-tile: 0 0 9px 0 $very-light-gray;

// Tooltip
//------------------------
$tooltip-bg: $nero;
$tooltip-color: $white;
$tooltip-shadow: $shadow;
$tooltip-radius: 3px;

// Dialog
//------------------------
$dialog-bg: $base-bg; // white
$dialog-header-bg: $section-header-bg;
$dialog-title-color: $body-text-color;


//--------------------------------
//  FORMS
//--------------------------------

// Input Elements
//------------------------
$label-color: $nero;
$label-font: "bold";
$label-font-size: 13px;
$input-text-color: $nero;
$input-text-size: 12px;
$input-border-color: $dark-gray;
$input-border-width: 1px;
$input-border: $input-border-width solid $input-border-color;
$input-border-radius: 2px;
$input-height: 35px;
$input-padding-horizontal: 10px;
$input-bg: $white;
$textarea-height: 70px;
$focus-outline-style: none;
$focus-border: 1px solid $nero;
$dropdown-arrow-icon-color: $nero;
$dropdown-arrow-icon-width: 32px;

// Global Button Styles
//------------------------
$btn-height: 30px; //including font height and borders
$btn-side-padding: 20px;
$btn-font: "reg";
$btn-font-size: 14px;
$btn-letter-space: $body-letter-spacing;
$btn-border-width: 1px;
$btn-border-radius: 1px;
$btn-text-transform: none;
$btn-disabled-opacity: 0.5;

// Primary Button
//------------------------
$btn-color: $white; // text
$btn-bg: $citrus;
$btn-border-color: $citrus;
$btn-hover-color: $white; // text
$btn-hover-bg: $limeade;
$btn-hover-border-color: $limeade;

// Primary Alt Button
//------------------------
$btn-alt-color: $white; // text
$btn-alt-bg: $citrus;
$btn-alt-border-color: $citrus;
$btn-alt-hover-color: $white; // text
$btn-alt-hover-bg: $limeade;
$btn-alt-hover-border-color: $limeade;

// Secondary Button
//------------------------
$btn2-color: $citrus; //text
$btn2-bg: $white;
$btn2-border-color: $citrus;
$btn2-hover-color: $white; //text
$btn2-hover-bg: $citrus;
$btn2-hover-border-color: $citrus;

// Secondary Alt Button
//------------------------
$btn2-alt-color: $citrus; //text
$btn2-alt-bg: $white;
$btn2-alt-border-color: $white;
$btn2-alt-hover-color: $white; //text
$btn2-alt-hover-bg: $citrus;
$btn2-alt-hover-border-color: $citrus;

// Tertiary Button
//------------------------
$btn3-color: $white; // text
$btn3-bg: $cerulean;
$btn3-border-color: $cerulean;
$btn3-hover-color: $white; // text
$btn3-hover-bg: $cerulean;
$btn3-hover-border-color: $cerulean;

// Error Button
//------------------------
$btn-error-color: $sangria; // text
$btn-error-bg: $white;
$btn-error-border-color: $sangria;
$btn-error-hover-color: $white; // text
$btn-error-hover-bg: $sangria;
$btn-error-hover-border-color: $sangria;

// Large Button Variant
//------------------------
$lg-btn-height: 37px;
$lg-btn-side-padding: 20px;
$lg-btn-fontsize: 14px;

// Add To Cart Button Variant
//------------------------
$a2c-btn-height: 37px;
$a2c-btn-side-padding: 20px;
$a2c-btn-fontsize: 14px;


//--------------------------------
//  ICONOGRAPHY
//--------------------------------
$icon-fill: $nobel;
$icon-hover-fill: $citrus;
$icon-header-fill: $nobel;
$icon-header-hover-fill: $citrus;
$icon-social-fill: $nobel;
$icon-social-hover-fill: $citrus;


//--------------------------------
//  ECOMMERCE ELEMENTS
//--------------------------------

// Stock
//------------------------
$in-stock-color: $rain-forest;
$out-of-stock-color: $sangria;
$backorder-color: $sangria;

// Rating
//------------------------
$rating-color: $rain-forest;

// Variations
//------------------------
$variation-active-color: $citrus;
$swatch-text-color: $gainsboro;
$swatch-border-color: $gainsboro;
$swatch-selected-color: $citrus;
$swatch-unselectable-color: $white-smoke;
$swatch-unselectable-hover-color: $white-smoke;

// Product
//------------------------
$product-number-color: $very-light-gray;
$product-promotion-color: $accent2-color;
$product-badge-bg: $sangria;

// Price
//------------------------
$price-standard-color: $nero;
$price-tiered-color: $sangria;
$price-sale-color: $sangria;

// Checkout
//------------------------
$progress-indicator-active-color: $rain-forest;
$success-color: $islamic-green;

// Slick Carousel Theme
//------------------------
$slick-loader-path: "../lib/slick/";
$slick-arrow-color: $black;
$slick-arrow-bg-color: $trans;
$slick-arrow-bg-color-hover: $trans;
$slick-darkarrow-color: $white;
$slick-darkarrow-bg-color: $black;
$slick-darkarrow-bg-color-hover: $black;
$slick-dot-color: $white;
$slick-dot-color-hover: $white;
$slick-dot-color-active: $slick-dot-color;
$slick-dot-size: rem(25px);
$slick-opacity-default: 0.75;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 0.25;

// ADA Elements
//------------------------
$skip-nav-focus-bg-color: $night-rider;

$swatch-types: black #000, beige #f5f5dc, blue blue, purple purple, red red, brown #783201, green green, grey #8f979d, pink #fe249a, orange orange, white #fff, yellow #ff0, navy navy;

// flag-icon-css

$flag-icon-css-path: "../lib/flag-icon-css/flags";
