#PasswordResetForm {
    fieldset {
        position: relative;
    }
    button {
        float: right;
        top: 0;
        left: 63%;
    }
}

h1 .account-logout {
    font-size: 0.6em;
    float: none;
}

.registration-selection {
    input,
    label {
        display: inline;
        float: none;
    }
}

.address-list {
    padding: 0;
    li {
        float: none;
        width: auto;
        list-style: none outside none;
        margin: 0;
        min-height: 135px;
        padding: 1em 0;
        &.default {
            border-bottom: $border;
            float: none;
            width: auto;
        }
        @include respond(large-up) {
            float: left;
            width: 30%;
        }
    }
    .mini-address-title {
        @include font-italic();
    }
}

.payment-list {
    overflow: hidden;
    padding: 0;
    li {
        float: left;
        list-style: none outside none;
        margin: 0;
        min-height: 110px;
        width: 33%;
        @include respond(medium-down) {
            float: none;
            width: auto;
        }
    }
}

.order-history-header {
    background: $section-header-bg url("../images/interface/icon-double-line-header.png") repeat-x scroll left top;
    overflow: hidden;
    padding: 10px;
    .label {
        font-weight: $font-wt-bold;
    }
    button {
        float: right;
        @include respond(medium-down) {
            font-size: 1em;
            padding: .25em;
        }
    }
    .order-date,
    .order-status,
    .order-number {
        float: left;
        margin: 2px 0;
        width: 60%;
    }
}

.order-history-items {
    margin: 20px 0;
}

.order-history-table {
    th,
    td {
        padding: 5px 10px;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none outside none;
    }
    .order-shipped-to,
    .order-items,
    .order-total-price {
        width: 33%;
    }
    .toggle {
        cursor: pointer;
        display: block;
    }
}

.js .order-history-table .hidden {
    display: none;
}

.facebook-registration {
    @include respond(medium-down) {
        left: -3px;
        position: relative;
        width: 100.7% !important;
        .fb_iframe_widget {
            position: relative;
            width: 100.7% !important;
            span {
                position: relative;
                width: 100.7% !important;
                iframe {
                    position: relative;
                    width: 100.7% !important;
                }
            }
        }
    }

    @include respond(medium) {
        left: 0;
        position: relative;
        width: 100% !important;
        .fb_iframe_widget {
            position: relative;
            width: 100% !important;
            span {
                position: relative;
                width: 100% !important;
                iframe {
                    position: relative;
                    width: 100% !important;
                }
            }
        }
    }

    @include respond(large) {
        left: 0;
        position: relative;
        width: 100% !important;
        .fb_iframe_widget {
            position: relative;
            width: 100% !important;
            span {
                position: relative;
                width: 100% !important;
                iframe {
                    position: relative;
                    width: 100% !important;
                }
            }
        }
    }
}
