// Homepage: Site-Level Styles
// should contain only stylistic rules, i.e. values that will change
// from site to site, such as colors and typography.

#homepage-slides {
    @extend .slick-dark-arrows;

    .slide1 {
        .banner-message {
            left: 3%;
            .banner-text1 {
                color: $accent3-color;
                display: inline;
            }
            .banner-text2 {
                color: $inverted-text-color;
                @include font-light(18px, 24px);
                @include respond(large-up) {
                    @include font-size(28px, 39px);
                }
                //display: inline;
            }
            .banner-text3 {
                color: $inverted-text-color;
                text-align: right;
            }
        }
    }
    .slide2 {
        .banner-message {
            left: 3%;
            .banner-text1 {
                color: $accent1-color;
                display: inline;
                letter-spacing: -0.1rem;
            }
            .banner-text2 {
                color: $body-text-color-lt;
                display: inline;
            }
            .banner-text3 {
                color: $body-text-color-black;
            }
        }
    }
    .slide3 {
        .banner-message {
            left: 3%;
            .banner-text1 {
                color: $accent1-color;
                display: inline;
                margin-top: -2rem;
            }
            .banner-text2 {
                color: $inverted-text-color;
                display: inline;
            }
            .banner-text3 {
                margin-top: 1em;
                color: $body-text-color-black;
            }
        }
    }
    .slide4 {
        .banner-message {
            right: 3%;
            .banner-text1 {
                color: $accent1-color;
                margin-top: 0;
                text-indent: 3rem;
                @include respond(large-up) {
                    margin-top: -1rem;
                }
            }
            .banner-text2 {
                color: $inverted-text-color;
            }
            .banner-text3 {
                color: $inverted-text-color;
            }
        }
    }
    .slide5 {
        .banner-message {
            left: 15%;
            .banner-text1 {
                color: $accent3-color;
                display: inline;
            }
            .banner-text2 {
                color: $alert-color;
                display: inline;
            }
            .banner-text3 {
                color: $inverted-text-color;
            }
        }
    }
}

#home-bottom-left {
    h2 {
        color: $body-text-color-black;
        @include type-subheading2;
        margin: 0;
        padding: 1rem 0;
    }
}

#home-bottom-center {
    .home-bottom-center-text {
        h1 {
            color: $accent3-color;
            @include type-subheading1;
            margin: 0;
            padding: 0;
        }
        h2 {
            color: $body-text-color;
            @include font-thin(20px);
            letter-spacing: .2em;
            margin-top: -.05rem;
            text-transform: uppercase;
        }
        h3 {
            color: $body-text-color;
            @include type-subheading3;
            margin-top: -1rem;
        }
    }
}

.home-bottom-right {
    .home-bottom-right-header {
        h2 {
            color: $body-text-color;
            @include type-subheading2;
            padding: .5em 0 0 0;
            margin: 0;
        }
        h3 {
            color: $accent2-color;
            @include type-subheading2;
            margin: 0;
            padding: 0;
        }
    }
    .product-tile {
        .product-sales-price {
            color: $body-text-color-black;
        }
    }
}
