// Homepage: Organization-Level Styles
// should contain only strucural rules, i.e. values that will likely need
// to stay consistent from site to site, such as display, widths, and spacing.

.pt_storefront {
    #main {
        //override content-width for full bleed
        @include override-content-width();
    }
}

#homepage-slider {
    @include clearfix();
    margin-top: 1em;
    a {
        overflow: visible;
    }
    img {
        width: 100%;
    }
}

#homepage-slides {
    margin: 0;
    padding: 0;

    // This is a CSS hack to hide all but the first slide in the slick carousel until it is initialized.
    .slide + .slide {
        display: none;
        &.slick-slide {
            display: block;
        }
    }

    .slide {
        position: relative;
        img {
            height: auto;
        }
        .banner-message {
            position: absolute;
            top: 10%;
            @include respond(large-up) {
                top: 2%;
            }
            .banner-text1 {
                @include type-hero1;
            }
            .banner-text2 {
                @include type-hero2;
            }
            .banner-text3 {
                @include type-hero3;
            }
        }
    }
}

#home-bottom-left {
    margin: auto;
    max-width: 320px;
    position: relative;
    text-align: center;
    width: 100%;
    ul {
        margin: -.5em 0 .5em 0;
        li {
            border-right: $border3;
            color: $body-text-color;
            display: inline;
            @include font-thin(13px);
            list-style: none outside none;
            margin: 0 5px 0 0;
            padding: 0 5px 0 0;
            text-transform: uppercase;
            &:last-child {
                border: 0 none;
            }
            span {
                margin: 0 10px 0 0;
            }
        }
    }
    img {
        display: block;
    }
}

#home-bottom-center {
    width: 100%;
    margin: auto;
    max-width: 320px;
    position: relative;

    .home-bottom-center-text {
        position: absolute;
        text-align: center;
        top: 18%;
        width: 100%;
    }

    img {
        display: block;
    }
}

.home-bottom-right {
    width: 100%;
    margin: auto;
    max-width: $small-breakpoint;
    position: relative;
    text-align: center;

    .home-bottom-right-header {
        img {
            display: block;
        }
    }

    .product-tile {
        margin: 1em auto 0;
        width: 90%;
        img {
            box-shadow: $shadow2;
            margin: auto;
        }
        .product-name {
            height: auto;
        }
    }
}

.home-bottom-slots {
    margin: auto;
    max-width: 960px;
    .home-bottom-left,
    .home-bottom-center,
    .home-bottom-right {
        clear: none;
        width: 100%;
        @include respond(960px) {
            float: left;
            width: 33.33333333333333333%;
        }
    }
}

@include respond(medium-down) {
    .home-bottom-left,
    .home-bottom-center {
        width: 100% !important;
    }
    .home-bottom-right {
        clear: both;
        float: none;
        width: 100% !important;
        .product-tile {
            min-height: 0;
        }
    }
}


@include respond(large) {
    .home-bottom-right {
        .product-tile {
            min-height: 0;
        }
    }
}
