.store-locator-header {
    background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $trans;
    font-size: 1.75em;
    @include font-italic();
    font-weight: $font-wt-semibold;
    margin: rem(20px) 0 0;
    padding: rem(20px) 0;
}

.store-information {
    background: none repeat scroll 0 0 $subtle-contrast-bg;
    border-bottom: 1px solid $base-bg;
}

.store-name {
    font-weight: $font-wt-bold;
    margin: 0 0 rem(10px);
}

.store-map {
    border-bottom: $border;
}

.pt_store-locator {
    thead {
        display: none;
        @include respond(medium-up) {
            display: table-header-group;
        }
    }
    .item-list tr {
        display: block;
        @include respond(medium-up) {
            display: table-row;
        }
    }
    .item-list td {
        display: block;
        @include respond(medium-up) {
            display: table-cell;
        }
    }
}

.store-locator-details {
    float: left;
    img {
        max-width: 100%;
    }
    h1,
    p {
        margin: 0.25em 0;
    }
    @include respond(medium-up) {
        width: 44%;
    }
}

.store-locator-details-map {
    float: right;
    img {
        max-width: 100%;
    }
    @include respond(medium-up) {
        width: 50%;
    }
}
